[2018-06-17 20:34] vincentsarago opened #10 "Add `--web` option to create ZXY tiles friendly file"
We should add an option to warp and align a file to the webmercator grid!

[2018-06-25 15:03] rcoup opened #11 "zstd?"
Worth adding a ZSTD profile? Is supported in recent GDAL

https://lists.osgeo.org/pipermail/cog/2018-June/000034.html

[2018-06-25 18:58] vincentsarago commented on #11
Hi @rcoup,
Thanks for opening the issue.

I'll add it later this week.

[2018-06-28 12:55] vincentsarago opened #13 "Remove useless Boundless=True options to avoid rasterio warning"
in https://github.com/mapbox/rio-cogeo/blob/186a7208f0d5ef0c6cfbd87ae6e7d2047acc6076/rio_cogeo/cogeo.py#L72-L85 we are using `boundless=True` option when reading the dataset but it is not needed because `windows` shouldn't be boundless.

[code]

[2018-06-28 12:55] #13 closed

[2018-06-28 13:07] #11 closed

[2018-06-28 13:42] vincentsarago opened #15 "change band interleave to pixel interleave for packbits profile"
PIXEL interleaving in COG saves some HTTP call when accessing tile on cloud. Band interleave will still be possible by passing `--co INTERLEAVE=BAND` option via the CLI

[2018-06-28 13:46] #15 closed

[2018-06-29 14:29] vincentsarago opened #17 "Remove default bid option and take all dataset bands by default (if possible)"
Right now, `bidx` option is set to be `1,2,3` which is fine when dataset is `rgb` or `rgba`. When working on 1 band data the cli will raise an error:
[code]
Solution:
- remove bidx default and take src dataset index as default.

☝️ that's said we should filter to make sure we don't ingest alpha band (because we have a mask in the output dataset)

[2018-07-06 23:24] mojodna opened #19 "Tags are dropped"
https://mojodna-temp.s3.amazonaws.com/internal-mask.tif, when processed using `rio cogeo`, loses `TIFFTAG_SOFTWARE=pix4dmapper` metadata.

[2018-07-09 16:16] vincentsarago commented on #19
@mojodna do you think we need to keep this metadata ? I don't see it when using `rio insp`

[code]
so I'm not even sure how to pass this info to the output file 🤔

[2018-07-09 16:21] mojodna commented on #19
I do; @cholmes and I have been talking about experimenting with wedging bits of STAC into TIFF tags to allow them to more fully self-describe.

It's actually under `src.tags()`, so I've updated the title accordingly.

[2018-07-09 16:24] mojodna commented on #19
There are also per-band tags that don't show up in the `dict` returned by `src.tags()`:

[code]

[2018-07-09 16:53] sgillies commented on #19
Speaking of metadata, I should point out that a Rasterio dataset's `write()` and `close()` methods do not automatically update the metadata of a dataset. If stats are desired they must be computed and explicitly saved to the destination dataset.

cc: @vincentsarago

[2018-07-19 14:07] vincentsarago opened #20 "do not copy alpha band"
When a source has an alpha band we should be able to detect it and not copy it to the output file because it will be replaced by the internal mask.

[2018-07-25 04:07] drnextgis opened #21 "Support rasters which does not fit in memory"
As I can see from source code `rio-cogeo` uses `MemoryFile`. Does it mean that this plugin is not suit for cases when source raster is not fit in memory?

[2018-08-03 17:37] vincentsarago commented on #21
Hi @drnextgis, Thanks for opening the issue.

Yes sadly I don't think it could work other ways or it will need to many refactor. The main problem I can think of is that overviews need to be happened after the high resolution data (inside the tiff structure) which is kind of tricky to get.

I don't have a perfect solution for you I'm sorry.

[2018-08-03 18:31] vincentsarago opened #23 "Rasterio fails when using ZSTD compression"
I've got a strange behavior when trying to create a cog with ZSTD compression resulting in python process to exit.

[code]
setting `CPL_DEBUG=ON` doesn't give more info.

After few investigation, it seems to be a *memory error**, but I can't find the right config to make it pass.

Note:
If I remove `copy_src_overviews=True` in https://github.com/mapbox/rio-cogeo/blob/7c5b1893a47719cd6ea50d21c272e4

[2018-08-07 19:00] vincentsarago commented on #23
Update:

While trying to create a cog using gdal commands I get a strange behavior, having GDAL complaining about BIGTIFF while the input or output file should be way smaller than the 4Go limit.

[code]

[2018-08-07 20:54] vincentsarago commented on #23
per https://github.com/OSGeo/gdal/issues/833
we can close and wait for gdal 2.3.2 ;-)

[2018-08-07 20:54] #23 closed

[2018-08-20 10:03] francbartoli opened #24 "How to convert geotiffs programmatically to cogs"
After I have verified the successful run of the command line `rio cogeo example.tif example_cog_raw.tif --cog-profile raw` then I'm trying to use the function `cog_translate` programmatically.

This snippet is failing:

[code]

where `img` the binary image file which is properly opened previously by rasterio and checked for being or not a COG.
The error stack trace is:

[code]
Do you have any hint

[2018-08-20 14:17] vincentsarago commented on #24
👋 @francbartoli

can you try
[code]

[2018-08-20 15:11] francbartoli commented on #24
@vincentsarago still same error.

I have got now what you pointed out about kwargs rather than args but I was confused by this [line](https://github.com/mapbox/rio-cogeo/blob/master/rio_cogeo/scripts/cli.py#L87)

[2018-08-20 15:28] vincentsarago commented on #24
Oh the error comes from https://github.com/mapbox/rio-cogeo/blob/master/rio_cogeo/cogeo.py#L52 when trying to open the input files
[code]

To me it seems that your input files is not compatible with rasterio, but I could be wrong.

[2018-08-20 16:02] francbartoli commented on #24
@vincentsarago If I enter into debugging the cli I can see the arguments of that function:

[code]

`input` and `output` are obviously absolute paths while in my case they are simply strings of the filenames that I'm handling, for instance `example.tif` and `cog_example.tif`. Does rasterio permit this? I guess this is the problem.
Does a MemoryFile instance for each of the input and output images

[2018-08-20 18:09] vincentsarago commented on #24
This shouldn't be a problem except if you use `~/` maybe

I just tried
[code]
and it worked fine

I don't think this will be needed

[2018-08-22 10:17] francbartoli commented on #24
Thanks @vincentsarago, I think doing that server side is a little bit different.
I found out the way to get it done through a `MemoryFile` instance and the trick to use the first item in the list `files`. The working snippet is below for those interested later:

[code]

[2018-08-22 12:56] #24 closed

[2018-09-12 15:39] vincentsarago opened #28 "Add resampling option for overviews"
Right now we use `nearest` resampling to create the overviews but this could be set by the user
https://github.com/mapbox/rio-cogeo/blob/d05e26b7b9e5bfe5e79ef95e3ab56c82a2e07eb7/rio_cogeo/cogeo.py#L88-L91

[2018-09-12 17:56] #28 closed

[2018-09-25 20:17] vincentsarago opened #32 "Make internal mask an option ?"
Right now we are creating a internal bit mask from alpha/nodata/mask by default, but there is multiple problem with this approach.
https://github.com/mapbox/rio-cogeo/blob/eabf1203be691c2937d89e08a6e62349b594eca1/rio_cogeo/cogeo.py#L75-L86

Well we tend to create the simplest COG (author opinion here) rio-cogeo should maybe offer more flexibility especially for compression like WEBP which can hand

[2018-10-02 02:59] vincentsarago opened #33 "[BUG] updating tags after creation breaks COG specification"
in https://github.com/mapbox/rio-cogeo/commit/8b247859c6e444e86168ec15c9a4302355775093 we introduced a bug. Re-openning the dataset with `r+` to add `rio_overview` tag value seems to mess-up with the directory

gdal `validate_cloud_optimized_geotiff.py` then gives:

[code]

cc @sgillies @perrygeo

[2018-10-02 16:39] sgillies commented on #33
We can't modify the tags of the dataset without breaking the COG layout? Oof.

[2018-10-03 00:33] #33 closed

[2018-10-03 01:52] wmaiouiru opened #35 "requires COMPRESS=JPEG with COMPRESS=LZW option"
I am working with the following file and trying to convert it to cloud-optimized geotiff.

https://s3.amazonaws.com/share-terravion-com/2018_cog/S2A_MSIL2A_20171206T171701_N0206_R112_T15TWK_20171206T190908_MULTIBAND.tif

The following is the command:
`rio cogeo S2A_MSIL2A_20171206T171701_N0206_R112_T15TWK_20171206T190908_MULTIBAND.tif S2A_MSIL2A_20171206T171701_N0206_R112_T15TWK_20171206T190908_MU

[2018-10-03 01:57] vincentsarago commented on #35
so by default `rio-cogeo` will use the `ycbcr` profile https://github.com/mapbox/rio-cogeo/blob/ebfbcdfdeea3aedb05f31da57cc1122e1130cdd4/rio_cogeo/profiles.py#L9-L17
which is valid only for RGB+byte dataset.

In you case you can use the `lzw` profile https://github.com/mapbox/rio-cogeo/blob/ebfbcdfdeea3aedb05f31da57cc1122e1130cdd4/rio_cogeo/profiles.py#L39-L46 by using `-p lzw` option in the comma

[2018-10-03 01:57] #35 closed

[2018-11-15 16:03] vincentsarago commented on #32
Right now we have those two options to give info about the input dataset:

[code]
and by default we create an internal mask.

If we make mask creation optional there are plenty of scenario we should take care:

- input dataset has a nodata value (or user passes `--nodata`) :
  - rio-cogeo creates internal mask (`--add-mask` ?)
  - rio-cogeo creates an alpha band  (`--add-alpha` ?)
  - rio-cogeo pa

[2018-11-28 15:04] vincentsarago opened #41 "Rename `YCbCR` profile to `JPEG`"
https://github.com/mapbox/rio-cogeo/blob/dc48a99b23fa1c538cb8b81747c5217fc1f996b7/rio_cogeo/profiles.py#L6

I think using `jpeg` instead of `ycbcr` will make more sense for a profile name

cc @perrygeo @sgillies

[2018-11-28 19:23] sgillies commented on #41
Agreed @vincentsarago but after renaming we need to leave a stub for YCbCrProfile that warns about deprecation when its `__init__()` is called.

[2018-11-28 20:31] vincentsarago commented on #41
I'll do it @sgillies

[2018-11-28 21:00] sgillies opened #42 "Get off Circle CI"
It's not economical for our org. I'm going to kill off the circle YAML now and we'll set up Travis in a separate PR.

[2018-11-28 21:01] #42 closed

[2018-11-28 21:02] sgillies opened #43 "Set up Travis CI"
We're switching from Circle CI. Following up on #42.

[2018-11-28 21:38] vincentsarago commented on #43
@sgillies maybe it's too soon, but we could talk about ownership of this module. Because I'm mostly the only collaborator I'll be happy to take the ownership if Mapbox is 👌. I know you have a lot of OpenSource project to maintain so If I can help I'll be happy.

[2018-11-29 16:30] sgillies commented on #43
I'll see that the team discusses this soon!

[2018-12-03 21:48] sgillies commented on #43
I think we're going to try to make it happen @vincentsarago . Closing this issue. You can use whatever you like :)

[2018-12-03 21:48] #43 closed

[2018-12-13 15:36] dionhaefner commented on #21
Works fine from my experience (raster files > 20GB, script staying below 500MB memory usage).

[2018-12-21 22:12] mitch3x3 opened #46 "Hangs long after progressbar gets to 100%"
- Using either cog_translate() or the command line, large files (2GB+) take an extremely large time to convert or don't convert at all and stall the current process.
- There is no indication of progress since it hangs after it hits 100%.
- Memory on machine and HD space are not maxed out so it's probably related to memory management within python but I'll have to do some more digging.

Settings ar

[2018-12-22 19:56] vincentsarago commented on #46
Hi @mitch3x3,
I should add some logging but basically the progressbar is only for a first iteration where we take the input data and create an intermediate GeoTIFF with internal tiles. In a second iteration we add overview and compression but sadly there is no progressbar for this part.
I'll open a new issue referring this one

[2018-12-22 20:05] vincentsarago opened #47 "add logging for creation steps ?"
mentioned in #46 we have a progressbar only for the first step of the cog creation which is usually the fastest steps. The seconds steps (overview and compression) can hangs for a long time (especially when working with complexes compression).
IMO we could add some logging to tell the user what's going on:

**actual**
[code]

**future**
[code]

[2019-01-28 18:00] vincentsarago opened #48 "back up circle-ci"
let move back to circle-ci
ref: https://github.com/cogeotiff/rio-cogeo/issues/43

[2019-02-11 20:49] vincentsarago commented on #48
done in #49

[2019-02-11 20:49] #48 closed

[2019-02-11 20:58] vincentsarago opened #50 "Error when passing options block size and no overview-level passed"
[code]

[2019-02-11 20:59] vincentsarago opened #51 "allow non-integer nodata value"
[code]

[2019-02-12 18:30] #50 closed

[2019-02-12 18:31] #51 closed

[2019-02-13 20:09] vincentsarago opened #54 "Internal mask might not be a good solution for non-byte dataset"
ref:
- https://github.com/cogeotiff/rio-tiler/issues/78
- https://github.com/OSGeo/gdal/pull/742#issuecomment-463346403
- https://github.com/vincentsarago/benchmark-vrt-datatype#benchmark-vrt

[2019-02-13 22:31] vincentsarago opened #55 "add a note about the need of GDAL >= 2.3.2 to create proper COG with internal mask"
There seems to be bug for mask creation with old gdal version
ref: https://github.com/OSGeo/gdal/issues/754

[2019-03-04 17:44] #54 closed

[2019-03-04 17:45] #20 closed

[2019-03-04 17:45] #32 closed

[2019-03-04 18:53] #46 closed

[2019-03-04 18:53] #47 closed

[2019-03-04 20:06] #19 closed

[2019-03-04 20:20] vincentsarago commented on #19
@mojodna I've fixed this partially, meaning general tags/description  will now be copied from input to output
https://github.com/cogeotiff/rio-cogeo/blob/983b709a3291e90b18bd46d0f37f7c9a21c53bb4/rio_cogeo/cogeo.py#L132-L143

That's said I'm not forwarding bands metadata (e.g `STATISTICS_*`) because I feel this could introduce some errors (when using lossy compression the statistics would change)

[2019-03-05 02:16] mojodna commented on #19
Not forwarding statistics makes sense to me.

Is there an option to (re-)generate statistics? If not, that would also be a good addition. We've been recommended that people include stats with sensor sources so that they can be previewed more effectively.

[2019-03-05 02:24] vincentsarago commented on #19
I could add a `--add-statistics` but I kinda hesitate to add more and more options. I think right now I could add a note and write an example using `gdal_edit -stats` or maybe even better PR rasterio to add `--stats`  to `rio edit-info` (ref: https://github.com/mapbox/rasterio/issues/244) cc @sgillies

[2019-03-05 02:37] vincentsarago opened #59 "Add note to help user add statistics to the output dataset"
ref #19

[code]

[2019-03-05 14:47] sgillies commented on #19
@vincentsarago rio-edit-info isn't quite the right channel for stats. Maybe a rio-stats command, with options to print statistics or save statistics to the dataset (sort of like rio-overview). It would be most efficient to do this in the cogeo program, you could accumulate statistics while copying data and avoid extra reads.

[2019-03-12 20:46] vincentsarago commented on #10
I'll push this after `1.0.0` because it needs more time and shouldn't be a breaking change.

[2019-03-13 03:57] vincentsarago opened #60 "keep 128 as default GDAL_TIFF_OVR_BLOCKSIZE"
While working on the web-optimized option I realized I made a bad choice from the beginning. in https://github.com/cogeotiff/rio-cogeo/blob/983b709a3291e90b18bd46d0f37f7c9a21c53bb4/rio_cogeo/scripts/cli.py#L122 we set `GDAL_TIFF_OVR_BLOCKSIZE` to be the same as the internal tile for the high resolution data. This is usually ok, but in a case of web-optimized COG, it will result in GDAL having to f

[2019-03-13 15:36] #60 closed

[2019-03-14 03:29] vincentsarago opened #63 "release 1.0b0"
With #6 merged we now have a tool to create and validate CloudOptimized Geotiff.

I don't have any breaking change in mind, and the only PR blocked #62 will have to wait after the 1.0.0 release (If we get some help).

I'm planning to do a 1.0b0 release on Thursday 14th.

Here is the list of changes since last release:
https://github.com/cogeotiff/rio-cogeo/blob/a6b76c78c60a63419da64577fd29b9ec2a21

[2019-03-15 13:11] vincentsarago commented on #63
done https://github.com/cogeotiff/rio-cogeo/commit/13507691ab252e93606facaf85d99a980195f272

[2019-03-15 13:11] #63 closed

[2019-03-25 13:37] vincentsarago opened #64 "Update get_maximum_overview_level to use Rasterio dataset directly"
in https://github.com/cogeotiff/rio-cogeo/blob/fb9ceba8b00dae22bce68b196c47a88a62371b61/rio_cogeo/cogeo.py#L62-L66
we pass the dataset path and then open it in `get_maximum_overview_level` function. This means we have to open the dataset twice while it's not really necessary

[2019-03-25 14:01] #64 closed

[2019-03-27 15:13] vincentsarago opened #66 "Switch from JPEG to DEFLATE for default profile"
JPEG profile only works with RGB byte datasets while Deflate compression will always works.

[2019-03-27 16:28] #66 closed

[2019-03-27 16:34] vincentsarago opened #68 "1.0.0 release"
Target date: 2019-03-29.

🎉 This is almost ready. we don't have anything to add for the 1.0 release.

I'm targeting Friday 29th for the official release to see if we get feedback on the latest beta release https://github.com/cogeotiff/rio-cogeo/blob/5974cd5643bde9183220f2d02a4f387a1e013dec/CHANGES.txt#L1-L6

[2019-03-29 15:02] vincentsarago opened #69 "Configurable minimum internal tile size for valid COG"
The [COG specification](https://trac.osgeo.org/gdal/wiki/CloudOptimizedGeoTIFF) does not fix a hard requirement about the internal tiling size but the validation script does.

The internal tile size is important for COG because it will determine if the COG might need overviews or not (but they are optional).

IMO the internal tile size should be configurable in the validate script because some use

[2019-03-29 15:08] vincentsarago opened #70 "Note about Opinions!"
While rio-cogeo follows the COG specification, it also make some choice. By default we decided to enforce internal tilings (tiling is optional for files that are < 1024x1024) and overview (those are optional).

I personally thinks those two are important but the user still have the possibility to change the default by using options (in CLI).

Let's add a note on the README about the choice made fo

[2019-03-29 15:10] vincentsarago commented on #68
Alright I've opened 2 issues (#69, #70) and https://github.com/OSGeo/gdal/issues/1403.

I'd love to have those closed before releasing 1.0.0

new target date:
2019-04-03

[2019-03-30 13:25] #70 closed

[2019-03-30 13:26] #55 closed

[2019-03-30 13:26] #59 closed

[2019-03-30 13:27] vincentsarago commented on #68
I've just released 1.0b3 with the changed mentioned earlier. target date for 1.0.0 is still 2019-04-03

[2019-03-31 10:05] alon opened #73 "when using jpeg profile silently creates empty output if bit depth != 8"
Vrersion:
$ pip freeze | grep rio
rasterio==1.0.22
rio-cogeo==1.0b3

Problem: When creating from a unsigned int 16 bit per pixel tif a jpeg profile / jpeg compressed cogeo, successfully creates an empty file.

What I expected: an error message indicating this can only work for 8 bits per pixel.

Details:

When doing the same thing with gdal directly I get warnings that JPEG compression is not comp

[2019-03-31 16:54] vincentsarago commented on #73
Thanks @alon this is interesting. I'll have a look at it

[2019-03-31 17:24] alon commented on #73
Thank you.

If I may, I have a very slow tiling work flow I want to replace with a COG. Is it possible to serve a COG without a tiling service, i.e. have leaflet or such directly GE it,, like vsicurl w/ gdal would? That is the goal, right?

On March 31, 2019 7:54:27 PM GMT+03:00, Vincent Sarago <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevit

[2019-03-31 18:58] vincentsarago commented on #73
@alon

Absolutely, I'm usually using https://github.com/cogeotiff/rio-tiler (and https://github.com/vincentsarago/lambda-tiler) to do this but you could also check https://github.com/DHI-GRAS/terracotta or https://github.com/mojodna/marblecutter which provide the full architecture.

That's said, if you have int16 dataset you'll need custom script to rescale your data to int8.

[2019-04-01 03:52] vincentsarago commented on #73
@alon This is a `rasterio` problem and I'm not sure if there is a way around it.

Basically rasterio.shutil.copy https://github.com/mapbox/rasterio/blob/master/rasterio/shutil.pyx#L56 is swallowing GDAL warnings but I don't think there is a way to fix that.

cc @sgillies

[2019-04-02 18:46] sgillies commented on #73
@vincentsarago the errors occur during the execution of `GDALCreateCopy` at https://github.com/mapbox/rasterio/blob/master/rasterio/shutil.pyx#L137, right? Because we've released Python's global interpreter lock, the errors cannot be turned into exceptions. It might be possible to create a GDAL error handler that would break out of GDALCreateCopy and the nogil block using setjmp and longjmp, but I

[2019-04-02 18:49] vincentsarago commented on #73
@sgillies thanks for the investigation.
That's said, I think GDAL doesn't throw error but just warnings (`ERROR 1: JPEGSetupEncode:BitsPerSample 16 not allowed for JPEG`)

Yeah I think this is what we should do 🙏

[2019-04-02 19:21] vincentsarago commented on #73
🤔 @sgillies I've just encountered this with other options

[code]

I feel there are a lot of corner case I'll need to check ...

[2019-04-04 14:48] alon commented on #73
Right, I understand it is doable with a service which creates the tiles on demand, and then serves them:
COG -> TILER -> FRONTEND
And showing the artifacts:
COG: single file on disk
TILER: in memory / cached on disk tiles (png per X/Y/Z)

But I'd like to forgoe the tiler, and have
COG -> FRONTEND
where the arrow signifies HTTP traffic.

My current flow is:
Preprocessing: TIFF (not COG) -> tiles ->

[2019-04-05 13:20] ryanjdillon opened #74 "using `cog_translate` on netCDF4 with improper georeferencing"
I am trying to use `cog_translate` to convert some netCDF4 datasets to COG, and it appears these files do not have proper georeferencing.

I have modified `cogeo.py` to accept `vrt_params`, so that I can manually pass the `src_crs` and `src_transform` via the `WarpedVRTReaderBase` mixin of `WarpedVRT`, as you can see here:

https://github.com/ryanjdillon/rio-cogeo/blob/cog_translate_vrt_params/rio

[2019-04-05 14:18] vincentsarago commented on #74
@ryanjdillon can you try `transform` instead of `src_transform` ? https://github.com/cogeotiff/rio-cogeo/blob/webOpt/rio_cogeo/cogeo.py#L141

[2019-04-05 20:48] ryanjdillon commented on #74
Excellent. I'll report back as soon as I've tried that out. Thanks!

Den fre. 5. apr. 2019, 16:18 skrev Vincent Sarago <notifications@github.com

[2019-04-08 14:32] vincentsarago commented on #74
@ryanjdillon did it fix the problem ?

[2019-04-08 16:26] ryanjdillon commented on #74
I was just about to report back. That didn't seem to fix things.

It looks like `dst_crs` and  `dst_transform` are depreciated in favor of `crs` and `transform`, so I'm passing things with my modification like this
[code]
Which yields the same error. If I pass `width` and `height`, as used in the `Affine` instance, I get another error:

And that seems to be related to the output file not existing.

[2019-04-09 11:49] ryanjdillon commented on #74
I've tried to use `cog_translate()` as I described above on a file that is correctly georeferenced (Copernicus global NDVI from their Land service), and that gives me the same error.

However, `gdalwarp` seems to work by doing the following:
[code]

Whereas my NetCDF file lacking georeferencing throws the same error with `gdalwarp` as with `cog_translate`.

[2019-04-10 13:58] ryanjdillon commented on #74
It seems like it is a bit of a combo. rio-cogeo passes the dataset as a band, which I was opening with `gdal`. I got it to work when I opened the subdataset with a `rasterio` formatted band path, rather than `gdal`, and also by passing the `vrt_params` (including `src_crs`, `src_transform`, `crs`, `transform`, `width`, and `height`).

I also tried using `cog_validate` on the generated tiff, and it

[2019-04-10 14:04] vincentsarago commented on #74
🤔 thanks @ryanjdillon,

Can you checkout what https://svn.osgeo.org/gdal/trunk/gdal/swig/python/samples/validate_cloud_optimized_geotiff.py gives you ?

Allowing `vrt_params` as input might complicated a lot the code (especially with the changes from https://github.com/cogeotiff/rio-cogeo/pull/62). That said, I think we could document it and tell how to generate a proper temporary file from the ne

[2019-04-10 14:07] ryanjdillon commented on #74
I'll take a look at as soon as possible.

Once I have a clear handle on things I can contribute an example to the docs or something.

[2019-04-11 05:03] vincentsarago commented on #21
Well I gave a try in #75 but sadly the  `contextlib.ExitStack()` method is a python 3 only method 😢.
I don't have python2 in my heart but dropping it might be a big deal for some users.

cc @dionhaefner

[2019-04-11 06:41] drnextgis commented on #21
Good job @vincentsarago! Can we use [cintextlib2.ExitStack]https://contextlib2.readthedocs.io/en/stable/#contextlib2.ExitStack?

[2019-04-11 13:23] dionhaefner commented on #21
That's a bummer because it means some additional nesting, but shouldn't be a showstopper. You can e.g. do something like this instead:

[code]

[2019-04-11 13:25] vincentsarago commented on #21
@dionhaefner I'm not sure to understand, did you check the last version I pushed. Basically I did the same you did in terracota

[2019-04-11 13:32] dionhaefner commented on #21
I was still at the `ExitStack` issue :) But if it's solved through `contextlib2` all the better. I'll have a closer look at your PR during the weekend.

[2019-04-11 13:33] vincentsarago commented on #21
Excellent I was going to ask you and @drnextgis if you could review it and see if it fit your needs 😄

[2019-04-11 13:35] vincentsarago commented on #21
@dionhaefner BTW the solution you proposed seems kinda of smart, I'll see if we can do this instead. Right now flake8 is not happy on `dst_ctx = lambda: memfile.open(**meta)` with this error `do not assign a lambda expression, use a defflake8(E731)`

[2019-04-12 11:04] dionhaefner commented on #21
Yes, `flake8` is very critical of lambdas (IMO to a fault, but who am I to judge). This should work though:

[code]

If you're not too paranoid about unclosed file descriptors in some edge cases I think it would also be perfectly fine to initialize the contexts first and enter them later:

[code]

[2019-04-16 16:55] #10 closed

[2019-04-17 05:18] vincentsarago commented on #73
@alon

checkout https://github.com/geotiffjs/geotiff.js

We have a #cogeotiff Chanel on `thespatialcommunity` slack -> https://thespatialcommunity.org

[2019-04-17 05:18] #73 closed

[2019-04-19 13:18] #21 closed

[2019-04-23 09:18] ryanjdillon commented on #74
I managed to get things to work by first converting the NetCDF to GeoTIFF using GDAL, and then doing the COG conversion with `rio_cogeo`.

I first created a VRT file with `gdal_translate`, passing the corner coords as GCPs. Then I used `gdalwarp` to convert from NetCDF to GeoTIFF. Passing the same GCPs to `rasterio` did not seem to correctly preserve the georeference in the resulting GeoTIFF. I am

[2019-06-03 03:00] #68 closed

[2019-06-03 09:51] wessm commented on #41
One thing here: using the ``jpeg`` profile for a single band image gives an error, since the ``PHOTOMETRIC=YCBCR`` flag can't be used:

``rasterio._err.CPLE_NotSupportedError: PHOTOMETRIC=YCBCR not supported on a 1-band raster: only compatible of a 3-band (RGB) raster``

Probably not the best idea to use JPEG compression on a single band image, but I just wanted to let you guys know.

It works if

[2019-06-03 13:28] vincentsarago commented on #41
Oh, nice catch @wessm, I'll see if I can do something to support this

[2019-06-11 14:39] vincentsarago opened #77 "Add warning about the new GDAL COG creation driver"
ref: https://gdal.org/drivers/raster/cog.html

Rasterio doesn't support GDAL > 2.4 so we don't need to rush working on this right now.

[2019-06-17 11:32] hnagrath09 opened #78 "Min/Max values of raster changed after converting to COG"
Converted a DEM file with Min: -24.4595 and Max: 24.7207

After converting the raster using rio cogeo create, Min:-28.9916 and Max: 25.2354
![Screenshot 2019-06-17 at 5 02 26 PM](https://user-images.githubusercontent.com/33781906/59601487-b6e63800-9121-11e9-9515-0aeeca3d2460.png)

[2019-06-18 11:47] vincentsarago commented on #78
Hi @hnagrath09,
Can you share the command you use to create the COG ?

could you also confirm that pixel values are the same within QGIS or share the files.

[2019-06-18 11:49] dionhaefner commented on #78
IIRC, QGIS uses overviews to compute min and max, so the values shown are approximate. I would suggest you read the full raster in rasterio and compute the min and max by hand to see if they really are different.

[2019-06-27 20:25] vincentsarago commented on #78
@hnagrath09 is the issue solved ?

[2019-06-29 08:38] hnagrath09 commented on #78
Hi Vincent,

I am simply using
`rio cogeo create <input> <output>`

I have checked with one more DSM. It also shares the same problem. Also, the value tool is giving different values for both raw and COG tif. I haven't checked with rasterio yet. It may be due to the reason mentioned by @dionhaefner because values are more precise at greater zoom levels.

![Screenshot 2019-06-29 at 2 05 15 PM](http

[2019-07-01 18:54] vincentsarago opened #79 "[rio cogeo validate] add option to force overview"
Could be useful to have an option to make overviews mandatory

[2019-07-02 23:27] alando46 opened #80 "rio cogeo create fails when converting sentinel-2 preview files"
In all sentinel-2 directories, there is a PVI (preview) file in jp2 format that throws a `blocksize exceeds raster width` error when you try to convert using `rio cogeo create [file]`.

`gdalinfo` confirms that the blocksize is 192x192 while the band dimension is just 171x171. So the issue seems to be more of a corner case of really small (tiled) jp2s rather than a bug with rio cogeo.

If in SAFE

[2019-07-03 02:21] vincentsarago commented on #80
@alando46 thanks for opening the issue.
basically you are trying to create a COG with a default 512x512 blocksize : https://github.com/cogeotiff/rio-cogeo/blob/master/rio_cogeo/profiles.py#L95-L96

You can overwrite this by passing `--co BLOCKXSIZE=128 --co BLOCKYSIZE=128` (or even 192)

[2019-07-03 19:05] alando46 commented on #80
thanks @vincentsarago I must have missed this in the docs. after chatting with @mojodna, it seems like there is an opportunity for an optimization here: it might be useful if rio-cogeo could detect when the default block size is larger than the tiled source image and then default to use the image dimensions as blocksize, or maybe as in your example, the next lowest blocksize which is a power of 2.

[2019-07-03 19:08] vincentsarago commented on #80
@alando46 sure thing

I'll try to fix this, this week

[2019-07-04 15:35] vincentsarago commented on #80
There is one difference between GDAL and rasterio. With GDAL you can create a file with blocksize that are bigger than the actual files, while this is not possible with rasterio. I'm going to check rasterio code to understand this better.

To be honest the simplest solution will be to adjust the blocksize but I'm not a big fan on taking decision for the user (meaning changing blocksize when raster

[2019-07-08 18:06] alando46 commented on #80
Hmm interesting that they diverge on blocksize handling.

For us, I was able to resolve this by passing the `--co BLOCKXSIZE=128 --co BLOCKYSIZE=128` args you suggested above. In terms of rasterio, I imagine you have a much better sense of if such a default configuration would be useful for the greater community.

Does rasterio ever include configuration tips in errors? For example instead of :
`V

[2019-07-08 19:26] vincentsarago commented on #80
@alando46
so here is where it happens in rasterio https://github.com/mapbox/rasterio/blob/4f28d081579d877723bd806e1947686d908513db/rasterio/_io.pyx#L1090-L1094

ValueError: blockxsize exceeds raster width. Set smaller output blocksize with --co BLOCKXSIZE={value} --co BLOCKYSIZE={value}

`--co` option is specific to rio-cogeo implementation, I don't think the error message from rasterio could be b

[2019-07-09 01:15] vincentsarago commented on #78
so there is no real bug, QGIS uses overview to get data values, feel free to re-open @hnagrath09

[2019-07-09 01:15] #78 closed

[2019-07-09 01:17] vincentsarago opened #81 "create conda package"
ref: https://github.com/CosmiQ/solaris/issues/163#issuecomment-509447651

[2019-07-11 21:27] DanSchoppe commented on #80
I'm also bumping into this issue for small GeoTIFFs. A couple thoughts / questions:
- If @vincentsarago finds out there's good reason for rasterio to disallow block sizes > image dimensions, it would be nice if rio-cogeo could handle this gracefully by automatically reducing the block size
- Is there a limitation on valid blocksizes? Does it have to be a factor of two? I tried to set blockysize to

[2019-07-11 21:40] vincentsarago commented on #80
I'm sorry @DanSchoppe and @alando46,

I think minimum tile size is 64px and should be one of 64, 128, 256, 512, 1024, 2048

To be honest maybe a better solution is not to try to create COG for files < 256px, but that should be on your application.

[2019-07-11 22:18] DanSchoppe commented on #80
@vincentsarago Thanks for the information.

I'm assuming there's not a way to access tiles from a tiny raster if it doesn't get COG'd? If that's the case, I'll have to take your advice and stop supporting rasters < 256px x 256px.

[2019-07-12 01:13] vincentsarago commented on #80
Well for small raster (< 256px x 256px) The COG specification doesn't apply because they can't be tiled, thus we don't need to run rio-cogeo but only a simple `rasterio.shutil.copy` to create a GeoTIFF)

[2019-07-12 16:20] DanSchoppe commented on #80
I'm seeking a common workflow to prepare rasters for rio-tiler access, even if they're very small rasters. In the very small case, I was assuming rio-cogeo would essentially produce a COG of a single tile. But alas, this doesn't seem to be the case.

Thanks for the `rasterio.shutil.copy()` suggestion, @vincentsarago. Would a raster produced using this method be compatible with rio-tiler?

Alternat

[2019-07-12 16:31] vincentsarago commented on #80
`rio-tiler` can read any raster data (any driver / any size) so it shouldn't be a problem

here is how you app could look:

[code]

[2019-07-12 17:13] mojodna commented on #80
@vincentsarago why not include that logic in the CLI? If the goal is to be a fire and forget tool, it should handle the edge cases.

As it stands now, users either need to write a custom wrapper for the CLI and/or check the size of their inputs in whatever's calling it (not entirely trivial, and easy to forget) in order to conditionally change the tile size if the source is too small.

[2019-07-12 19:38] DanSchoppe commented on #80
Thanks, @vincentsarago for the tip!

I've started down the path you suggested of using `shutil` for small rasters. This has some unfortunate side-effects:
- This is incompatible with other ecosystem tooling. For instance, I cannot use `rio-cogeo validate` or `rio-glui` to inspect the result.
- I'll have to manually recreate some of the functionality I've enjoyed from `rio-cogeo` for the "small ras

[2019-07-12 19:55] vincentsarago commented on #80
Thanks @DanSchoppe, yeah I didn't think to much but I see why it could be valuable and @mojodna had a good point too.

If someone wants to start a PR to add checks and warning somewhere after https://github.com/cogeotiff/rio-cogeo/blob/master/rio_cogeo/cogeo.py#L108 I'll happilly support and review.

[2019-07-14 20:08] vincentsarago commented on #80
@DanSchoppe @alando46 @mojodna could you please review the changes in #82 please

[2019-07-17 03:55] #80 closed

[2019-07-17 04:07] vincentsarago opened #83 "release 1.1.0 - July 17th 2019"
PR #82 is changing the way `rio_cogeo.cogeo.cog_translate` handle blocksize for small dataset thus this need a new `minor` version: **1.1.0**

[2019-07-17 04:13] vincentsarago commented on #83
done in https://github.com/cogeotiff/rio-cogeo/commit/00d6ac2bb8f39011a31f7a9b88d80623af89fcf2

[2019-07-17 04:13] #83 closed

[2019-07-17 14:25] vincentsarago opened #84 "add warning when imagery has nodata and alpha band"

[2019-08-01 17:39] rsignell-usgs opened #85 "Float32 data promoted to Float64"
I used rio-cogeo to convert a geotiff with 1 band of `Type=Float32` geotiff.   To my surprise, the output generated was `Type=Float64` geotiff.  Any idea why that happened and how to keep the data as `Type=Float32`?

Here's the actual `rio-cogeo` command I used:
[code]

And here's the `gdalinfo` for the INPUT file:
[code]

And the `gdalinfo` for the OUTPUT file:
[code]

[2019-08-01 17:59] DanSchoppe commented on #85
I've experienced the same. I'll dig up the details of my input file as well.

[2019-08-01 19:21] vincentsarago commented on #85
👋 @rsignell-usgs @DanSchoppe
I wasn't able to reproduce the issue on my mac with rasterio from wheels (gdal 2.4.1)

can you share your config please ?  To be honest this is mostly a rasterio/gdal bug, but I'll dig up

[2019-08-01 19:28] rsignell-usgs commented on #85
I've also got `gdal=2.4.1`, but I'm on linux, and I installed `rio-cogeo=1.1.0` using `conda install -c conda-forge rio-cogeo` into an existing conda environment which sometimes can be problematic.  I'll try creating a new environment and see if that helps.

[2019-08-01 19:29] vincentsarago commented on #85
not sure conda has anything to do with that, maybe `linux` 🤔

[2019-08-01 19:38] vincentsarago commented on #85
@rsignell-usgs could you check what happen when you do `gdal_translate Southern_California_Topobathy_DEM_1m.tif  Southern_California_Topobathy_DEM_1m_lzw.tif -co COMPRESS=LZW"

[2019-08-01 19:40] vincentsarago commented on #85
I'm pretty sure the change appears here https://github.com/cogeotiff/rio-cogeo/blob/a6e8a2bc41d930ee211a86c3a6c375414fe4b623/rio_cogeo/cogeo.py#L262 but I've not been able to re-reproduce the error.
@rsignell-usgs could you share the data ?

[2019-08-01 19:49] rsignell-usgs commented on #85
The overviews are definitely different:

Source:
```Overviews: 79030x56305, 39515x28153, 19758x14077, 9879x7039, 4940x3520, 2470x1760, 1235x880, 618x440, 309x220```

Destination:
[code]
I'm guessing this is why `rio-cogeo` is still crunching away.  The source file is 230GB, and the destination is currently 600GB and still growing.

[2019-08-01 19:59] vincentsarago commented on #85
😱

@rsignell-usgs

The overviews are different because the overview level is calculated from the internal tile size (by default 512) and the size of your raster.

If you have already overviews for your input file you don't need to use rio-cogeo but should use GDAL directly

Because rio-cogeo is going to reprocess the overviews, the process is going time consumming.

On another note, can I ask you

[2019-08-01 20:04] rsignell-usgs commented on #85
I'm interested in this huge COG because I want to show how effective it is to access huge COG from S3 using rasterio with dask on AWS.   Basically use a workflow like the one in this [excellent blog post by @scottyhq](https://medium.com/pangeo/cloud-native-geoprocessing-of-earth-observation-satellite-data-with-pangeo-997692d91ca2).

Unfortunately I'm out the door for a week of vacation, but will p

[2019-08-01 20:10] vincentsarago commented on #85
Well because the header of your file will be enormous (> 16ko) I guess it won't be as performant as it should (this is why the new COG driver was created). It will still work but every time dask will try to read some data it will do multiple S3 get_range calls to be able to know where to read within the raster.

Because we couldn't wait for GDAL3.1 (and we didn't know about the COG driver at the t

[2019-08-02 00:13] rsignell-usgs commented on #85
Oh. Well maybe I’ll try Zarr then!

[2019-08-02 09:02] rsignell-usgs commented on #85
I've snipped a tiny piece out and made it available here: https://esip-pangeo-uswest2.s3-us-west-2.amazonaws.com/sciencebase/tiny.tif

If I convert it using:
[code]
the data gets promoted from `Float32` to `Float64`

[2019-08-02 09:05] vincentsarago commented on #85
thanks @rsignell-usgs I'll have a look

[2019-08-02 09:28] vincentsarago commented on #85
@rsignell-usgs
I was able to recreate the issue and I think this is on GDAL side

[code]
This only happens when using Warp (or WarpedVRT in rasterio). We may want to open an issue on GDAL

If I try to force the output file to be in Float32 (as the input file) rasterio errors with `ValueError: the array's dtype 'float64' does not match the file's dtype 'float32'` because the `WarpedVRT` creates a f

[2019-08-05 22:55] ungarj opened #86 "copy dataset to create valid COG"
This is not a bug report, rather a question on the implementation:

When the COG is written, the temporary file gets copied to the defined output in the end:
https://github.com/cogeotiff/rio-cogeo/blob/a6e8a2bc41d930ee211a86c3a6c375414fe4b623/rio_cogeo/cogeo.py#L262

Is there a specific reason related to the validity of the resulting COG containing overviews? The reason I ask is because I tried to

[2019-08-06 20:39] vincentsarago commented on #86
hey @ungarj
To be valid each COG tile (raw data + overviews) need to be stored near each other thus you need to use a method which rearange the data + the overview and this cannot be done when doing `add_overviews`.

I tried to explain this in https://medium.com/devseed/cog-talk-part-1-whats-new-941facbcd3d1

[2019-08-06 20:39] #86 closed

[2019-08-06 20:52] ungarj commented on #86
Ah that makes sense, yes. Thanks for explaining the details!

[2019-08-13 22:11] rsignell-usgs commented on #85
@vincentsarago , where should I raise this GDAL issue?

[2019-08-13 22:21] rouault commented on #85
It is not obvious there is a GDAL issue to me. @vincentsarago In your `gdalwarp tiny.tif tiny_cog.tif` please add a -overwrite flag so as to make sure you don't warp into an existing output file that would happen to be Float64. `gdalwarp in_float32.tif out.tif -overwrite` leads to out.tif being Float32 for me

[2019-08-13 23:07] vincentsarago commented on #85
Thanks @rouault, you are right, using `-overwrite` lead to a file with Float32.

I guess this is more on the rasterio side then. I'll try to dig deeper.

[2019-08-14 08:25] vincentsarago commented on #85
@rsignell-usgs this is a pure rasterio problem. I've opened a ticket over https://github.com/mapbox/rasterio/issues/1744 and hope this get resolved. I'm going to closes this issue but will follow on the rasterio repo

[2019-08-14 08:25] #85 closed

[2019-08-16 21:28] avanetten opened #87 "non-ascii character in README prevents installation"
Line 227 of the README reads:
⚠️ **GDAL>=3 is not yet supported by rasterio**

Installation fails due to the non-ascii character:
UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 7166: ordinal not in range(128)

[2019-08-19 14:46] vincentsarago commented on #87
@avanetten I cannot reproduce this.
Does this happen with source and with pypi package ?

[2019-08-19 15:02] vincentsarago commented on #77
closed by https://github.com/cogeotiff/rio-cogeo/commit/d08e985d799e6e97ef62e0d5815c657c427c3202

[2019-08-19 15:02] #77 closed

[2019-08-19 15:03] vincentsarago commented on #87
@avanetten I've removed the whole sentence in https://github.com/cogeotiff/rio-cogeo/commit/d08e985d799e6e97ef62e0d5815c657c427c3202 (because rasterio>=1.0.25 now support gdal3) but I still need to understand if I need to release a new version (in pypi)

[2019-08-19 16:11] bmulcahy commented on #87
I know for a fact it happens with the pypi package I can test with the source

[2019-08-19 18:25] bmulcahy commented on #87
Actually after testing I received this error though it says it is a click error it seems to be related
`Command failed: rio cogeo create "/opt/app/raw_uploads/kEgfgI/ffrData/Gulf_Coast_Depth_July                           _13.tif" "/opt/app/raw_uploads/kEgfgI/FLOOD_DEPTH_16888_converted/raster_calc.ti                           f" --web-optimized
Traceback (most recent call last):
File "/usr/local/

[2019-08-19 18:44] bmulcahy commented on #87
So following what the error message states
[code]

does alow the pypi package to build

[2019-08-19 18:46] vincentsarago commented on #87
Excellent thanks for your feedback @bmulcahy. I'll wait until tomorrow if @avanetten wants to answer and set this issue resolved then

[2019-08-19 18:49] bmulcahy commented on #87
No problem. I am having issues with the latest GDAL -cog output not handling max float values as No data correctly(I believe it is related to vrt) and this for some reason has no issues.

[2019-08-19 18:52] vincentsarago commented on #87
@bmulcahy feel free to open another issue with more details if you need

[2019-08-20 14:10] #87 closed

[2019-09-04 13:43] j08lue opened #89 "expose array+profile API"
I often want to write data from numpy arrays as a cloud-optimized GeoTIFF, together with the usual `rasterio` profile dictionary (`transform`, `crs`, `width`, `height`, `dtype`, etc.). It would be super nice to have a Python API for this.

This would require splitting the large `cogeo.cog_translate` function into two at least, roughly here:

https://github.com/cogeotiff/rio-cogeo/blob/4c6e89076416

[2019-09-04 13:53] vincentsarago commented on #89
Hey @j08lue thanks for this issue.

In short term I think this could make thing a bit complex and definitely be a breacking change.

This is still to be defined, To be honest I guess most of the feature of rio-cogeo will be replaced by the new GDAL COG driver, but I think there is still one-two feature that won't, but I need to better study the subject.

Back to array to cog, we could maybe to a s

[2019-09-04 14:13] j08lue commented on #89
That solution would serve me very well! Should I submit a PR or can you implement this quickly?

Btw, I actually have a working implementation of this API already, but the COGs are not fully valid and I would like to merge into using `rio-cogeo` instead.

[2019-09-04 14:19] vincentsarago commented on #89
Yes, I will be happy to review it.

Not sure to understand here

[2019-09-04 14:31] j08lue commented on #89
😄 haha, nevermind. I'll submit a PR shortly.

[2019-09-05 14:21] vincentsarago commented on #85
@rsignell-usgs I've seen that you succeed in you COG creation (ref: https://nbviewer.jupyter.org/gist/rsignell-usgs/0f96bb9c0ca34a5dd0fc8131a7bbae1c) I wonder if you ended up using pure GDAL commands ?

BTW the data looks great https://remotepixel.ca/cogeo.html?url=https://esip-pangeo-uswest2.s3-us-west-2.amazonaws.com/sciencebase/Southern_California_Topobathy_DEM_1m_cog.tif&rescale=-50,2000&color

[2019-09-05 17:30] sgillies commented on #85
@vincentsarago @rouault I think I found the root over in https://github.com/mapbox/rasterio/issues/1744#issuecomment-528486687.

[2019-09-05 19:19] vincentsarago opened #90 "datatype option"
following #85, a fix has been pushed to rasterio so now we need to add an option or a default behaviour to rio-cogeo to handle datatype inheritance...

ref https://github.com/mapbox/rasterio/pull/1768

[2019-09-05 20:26] rsignell-usgs commented on #85
@vincentsarago , yes, in fact I just used `gdal_translate` as you suggested:
[code]
Followed of course by:
[code]
😸

BTW, I didn't know about the super cool service here:
https://remotepixel.ca/cogeo.html?url=https://esip-pangeo-uswest2.s3-us-west-2.amazonaws.com/sciencebase/Southern_California_Topobathy_DEM_1m_cog.tif&rescale=-50,2000&color_map=terrain#12.91/33.75184/-117.57867
Two questions:
1.

[2019-09-05 20:33] vincentsarago commented on #85
https://remotepixel.ca/cogeo.html?url=https://esip-pangeo-uswest2.s3-us-west-2.amazonaws.com/sciencebase/Southern_California_Topobathy_DEM_1m_cog.tif&rescale=-50,2000&color_map=terrain#12.91/33.75184/-117.57867
Two questions:

Yes, this use https://github.com/cogeotiff/rio-tiler, and will fetch the correct overview (I think when you say overlays you mean internal overview pyramid).

The remotepixe

[2019-09-12 01:38] #90 closed

[2019-09-12 01:38] #89 closed

[2019-09-12 12:50] vincentsarago opened #94 "Incorrect context behavior"
why do you add the `DatasetReader` to the `ExitStack`, too? Just for cleanup, so it `__exit__`s as soon as possible? Couldn't that cause trouble if the user does like [you envisioned](https://github.com/cogeotiff/rio-cogeo/issues/89#issuecomment-527911000) and the `DatasetReader` exits twice?:
[code]

_Originally posted by @j08lue in https://github.com/cogeotiff/rio-cogeo/pull/93_

[2019-09-12 12:51] #94 closed, assigned to nobody

[2019-09-12 13:42] vincentsarago opened #96 "release to Pypi are failing !"
both 1.1.1 and 1.1.2 are still not on pypi because Circle CI seems to get stuck somewhere in the process

[2019-09-12 14:56] #96 closed, assigned to nobody

[2019-09-13 08:40] glostis opened #97 "ZSTD missing codec"
Thanks for this lib/plugin, it's really helpful and avoids having to guess which creation options are good for remote access.

I'm encountering a problem with the `zstd` `cog-profile`.

When running:
[code]

I get the following traceback:
[code]

I run this in a fresh virtual environment where I have `pip install rio-cogeo`.
Is the problem that the `GDAL` lib that came packaged with the `rasterio`

[2019-09-13 09:09] glostis commented on #97
I do not think it comes from my setup because I have managed to reproduce the issue on a Docker:

[code]

Running this Docker fails as mentioned above.

However, when building `rasterio` from source, `rio cogeo` works:
[code]

so I would tend to think that the problem comes from the `rasterio` manylinux wheel.

Here is the image in case you want to reproduce (it's a standard Sentinel-2 band):
[S2A

[2019-09-13 13:43] vincentsarago commented on #97
Hi @glostis and thanks for opening this issue.

You are right rasterio wheel doesn't come with zstd lib (see the full config [here](https://github.com/rasterio/rasterio-wheels/blob/master/config.sh#L183-L241)). This is unfortunate but a resonable choice because zstd compression is not supported by all software (see same discussion about lerc https://github.com/OSGeo/gdal/issues/1812#issuecomment-5

[2019-09-13 14:22] glostis commented on #97
Hi @vincentsarago thanks for your answer, and for the interesting links!

Out of curiosity, is there a reason for which you didn't include `LZMA` in the standard `cog-profiles` available?

[2019-09-13 14:31] vincentsarago commented on #97
Well no specific reason, I'll add it in the next release thanks

For reference, there is a nice article about compression by @kokoalberti https://kokoalberti.com/articles/geotiff-compression-optimization-guide/ (which I should had in the documentation)

[2019-09-13 14:48] glostis commented on #97
Yes, I had stumbled upon this article a few months ago and it is very good indeed!

[2019-09-16 15:59] #97 closed

[2019-09-25 18:17] drwelby opened #99 "COGs built from VRT don't validate"
After building a COG from a vrt:

`rio cogeo create my.vrt my.tif -p jpeg`

the COG doesn't validate:

[code]

The VRT points to a group of 256px tiffs stored in S3.

[2019-09-25 19:34] vincentsarago commented on #99
Thanks for the issue @drwelby , any chance you can share the vrt (+tiffs) or create dummy data ?

[2019-09-25 19:41] drwelby commented on #99
Yes, I should be able to copy some data into a public bucket.

[2019-09-25 20:17] drwelby commented on #99
`rio cogeo create /vsis3/rio-cogeo-vrt-sample/rio-cogeo-s3.vrt ./rcv-test.tif -p jpeg`

_of course_ this works locally, so I'll have to investigate our process container to see why it generates invalid COGs.

[2019-09-25 20:28] vincentsarago commented on #99
@drwelby could you check rasterio and gdal version ?

[2019-09-25 20:31] drwelby commented on #99
rasterio==1.0.26
rio-cogeo==1.1.0
pygdal==2.1.2.5

libgdal20=2.1.2
libgdal-dev=2.1.2

is what is installed, but I should check to make sure nothing is getting downgraded

[2019-09-26 17:28] vincentsarago commented on #99
@drwelby This is strange and it seems to me `/vsis3/bucket/my.tif` is not the output of `rio cogeo create`. I've just tested and it works fine on my side (even if it really slow).

To be honest, It might be faster to do
[code]

[2019-09-26 17:59] drwelby commented on #99
We upgraded to GDAL 2.4.1 and now valid COGs are being created.

Thanks for the suggestion of adding a `gdal_translate` step - we'll benchmark it and see if it provides any gains.

[2019-09-26 19:26] drwelby commented on #99
Tried it out and writing the intermediate file turned out to be ~5% slower in our setup.

[2019-09-26 21:50] vincentsarago commented on #99
@drwelby are we good to close here ?

[2019-09-26 23:51] drwelby commented on #99
Closing, problem on our end.

[2019-09-26 23:51] #99 closed

[2019-10-04 06:11] vincentsarago opened #102 "Threshold should be check against Height*Width*NBands"
https://github.com/cogeotiff/rio-cogeo/blob/92bba3a2b475451e78afd58e02e25d889c1ab910/rio_cogeo/cogeo.py#L214

[2019-10-04 06:14] vincentsarago opened #103 "Allow compression for intermediate file"
In https://github.com/cogeotiff/rio-cogeo/blob/92bba3a2b475451e78afd58e02e25d889c1ab910/rio_cogeo/cogeo.py#L210-L211 we remove the compression to speed up the process. While this is fine in most case, sometime we want to minimize the memory/disk space usage instead of the speed.

We could add an option to `--allow-intermediate-compression`

[2019-10-04 16:08] #103 closed

[2019-11-14 03:05] vincentsarago commented on #74
@ryanjdillon Long time no see 😄
I finally had to work with netcdf recently and thanks to some recent change in rio-cogeo we can now pass Memory or VRT files to `cog_translate`.

- Latest version
[code]

- First version
[code]

since we can use MemoryFile or VRT, we can now fix the data upfront and pass it to `cog_translate` so I think we can close this issue.

[2019-11-14 03:05] #74 closed

[2019-11-14 03:06] vincentsarago opened #105 "add band tags to output files ?"
this could be optional ?

[2019-11-14 03:18] vincentsarago commented on #105
note: https://github.com/cogeotiff/rio-cogeo#statistics This is breacking the COG and thus should be removed

prior discussion https://github.com/cogeotiff/rio-cogeo/issues/19

[2019-11-14 04:01] #105 closed

[2019-11-14 06:49] ryanjdillon commented on #74
Excellent. Thanks for the ping.

[2019-11-20 18:11] vincentsarago opened #107 "add Note to explain how to create COG in memory"
`rio_cogeo.cogeo.cog_translate` can create a valid COG in memory without the need of writing any file in the disk.

The trick is to use MemoryFile() and pass it's `name` to cog_translate

Example: create COG and upload to S3
[code]

ref: https://github.com/vexcel-data/rio-cogeo/commit/ffa56e979a0028a9982016c2c3b81f0411036409#r32796110

[2019-11-21 19:09] alando46 commented on #107
@vincentsarago this is awesome, amazing work per usual. If this isn't the wrong place to ask, how do you see your support of rio-cogeo and great features like this evolving post gdal 3.1 general release?

[2019-11-21 19:20] vincentsarago commented on #107
Good question!
I'm still not sure, the new COG driver will add plenty of features which will make rio-cogeo useless.

Maybe rio-cogeo will continue to exist after gdal3.1 release mostly to support users still stuck in 2.4 or 3.0.

I'll also update the validation to take into account the new specification (and match gdal's script).

I don't see how rio-cogeo will work wih the new COG driver so if w

[2019-11-26 16:24] vincentsarago opened #108 "add a note to explain how to create a COG from a memory file"
ref #107

[code]

cc @chrieke

[2019-11-26 16:30] vincentsarago commented on #24
@francbartoli sorry for pinging you back here but you deserve credit for things I didn't understand at the time

[code]

This was in fact a great thing to do and I wish I had a better understanding at the time.

ref: #107

[2019-11-26 16:30] vincentsarago commented on #108
previous conversation https://github.com/cogeotiff/rio-cogeo/issues/24#issue-352066226

[2019-11-26 16:31] vincentsarago commented on #107
previous conversation #24

[2019-11-26 21:29] francbartoli commented on #24
Nice @vincentsarago, many thanks indeed. Btw I wanted to come and say hello in Bucharest but the time was very tight. I'll do definitively next time ;)

[2019-11-26 23:10] chrieke commented on #108
Thanks again Vincent! Just to follow this up, two options as a bit more verbose example:

**1. Copy from source file using cog profile. Does NOT create overviews if not already existing in source file!**
[code]
_Result of cog_validate: COG, but warning that no overviews._

**2. Create internal overviews on-the-fly using MemoryFile and cog_translate:**
[code]
_Result of cog_validate: COG._

[2019-12-02 15:35] vincentsarago commented on #79
this was done in #109

[2019-12-02 15:35] #79 closed

[2019-12-02 16:14] #41 closed

[2019-12-02 16:14] #107 closed

[2019-12-02 16:14] #108 closed

[2019-12-19 22:18] pierotofy opened #112 "cogeo create and erroneous values for certain 16bit datasets"
I'm opening this to document my findings, I'm not sure it's even a problem with rio-cogeo per-se, it seems to go down all the way to rasterio (1.1.0) and perhaps GDAL (2.4.3).

Input (5 bands + alpha 16bit GeoTIFF): [odm_orthophoto.zip](https://github.com/cogeotiff/rio-cogeo/files/3985845/odm_orthophoto.zip)

![image](https://user-images.githubusercontent.com/1951843/71213887-b53d2e80-2282-11ea-8f

[2019-12-19 23:02] vincentsarago commented on #112
[code]

I've seen this kind of issues before (related to MASK in GDAL, let me find the github issue)

for the colorinterp it's a rio-cogeo bug (🤦‍♂) because it's not passed to https://github.com/cogeotiff/rio-cogeo/blob/master/rio_cogeo/cogeo.py#L238

cc @pierotofy

[2019-12-19 23:06] vincentsarago opened #113 "pass colorinterp from input file"
ref #112

when we create the inMemory/temp file we only pass the profile but we don't forward the colorinterp  https://github.com/cogeotiff/rio-cogeo/blob/master/rio_cogeo/cogeo.py#L238

cc @pierotofy

[2019-12-19 23:10] vincentsarago commented on #112
@pierotofy https://github.com/mapbox/rasterio/issues/1454 was the issue I had in mind

[2019-12-19 23:30] vincentsarago commented on #112
this is definitely in rasterio.vrt.WarpedVRT  + Alpha side

[code]

### When forcing nodata, the values are then 👌
[code]

[2019-12-19 23:42] vincentsarago commented on #112
The problem is always the same, when dealing with non byte 3 band+alpha dataset, GDAL seems to don't like it. This might need a ping to GDAL dev directly.

Past discussion:
https://github.com/OSGeo/gdal/pull/742
https://trac.osgeo.org/gdal/wiki/rfc15_nodatabitmask

@pierotofy  For now I think your solution would be to not use alpha band and switch to nodata value if possible

[2019-12-20 15:40] pierotofy commented on #112
Thanks so much for the detailed findings! Setting a nodata value indeed provides a workaround for my use case.

Should I try to create a PR for rio create? Something of the lines:

[code]

[2019-12-20 15:52] vincentsarago commented on #112
you should use nodata instead of alpha when creating the file. Setting nodata value to 0 might have unexpected results when user provide an alpha band so I guess we should try to pursue this into GDAL/Rasterio to have a proper fix there

[2019-12-27 14:45] sachsbl opened #115 "RasterIO 1.1.2 'Int64' KeyError When Creating COG file from Jp2"
So when RasterIO updated to 1.1.2 (December 18th), I started seeing things breaking that worked fine before.  Specifically, converting any Sentinel2 jp2 files to COG.  I see this error:

`  File "/usr/lib/python3.7/site-packages/rio_cogeo/cogeo.py", line 259, in cog_translate
    tmp_dst.write_mask(mask_value, window=w)
  File "rasterio/_io.pyx", line 1630, in rasterio._io.DatasetWriterBase.write_

[2019-12-31 18:31] rbavery opened #116 "Can't import rio_cogeo TypeError: ('Expected string, Requirement, or Distribution', None)"
It appears that I have rio_cogeo installed in a conda env, using pip, at this location on a vm
`/data/home/ryan/miniconda3/envs/cropmask/lib/python3.6/site-packages/rio_cogeo-1.1.7-py3.6.egg`

But when I try to import it errors

[code]
When I try to downgrade rio_cogeo, I get a weird error, it looks like it never pip installed correctly:
[code]
This issue doesn't show up with other pip installed p

[2020-01-08 15:01] vincentsarago commented on #116
@rbavery did you solve this ?
it is a strange error and sadly I have no experience with conda environment.

[2020-01-08 15:20] vincentsarago commented on #115
Hi @sachsbl thanks for opening this issue.

This is a rasterio error, because `int64` is not supported by rasterio (and by gdal too). See: https://github.com/mapbox/rasterio/blob/master/rasterio/dtypes.py#L13-L24

The error message says  `mask_value` returned at line 258 is in type `int64` and thus cannot be written in the dataset (L259)

https://github.com/cogeotiff/rio-cogeo/blob/2d4f633b00e93a7

[2020-01-08 15:31] vincentsarago commented on #115
FYI, I was able to reproduce this error on my mac using gdal2.4 too.

[2020-01-08 17:29] vincentsarago commented on #115
This will be fixed in rasterio 1.1.3 per https://github.com/mapbox/rasterio/commit/07d47efa22ff411d6c77cb8731594b609f91246a

Thanks again for the report @sachsbl

[2020-01-08 17:29] #115 closed

[2020-01-08 17:34] sachsbl commented on #115
thanks for the investigation @vincentsarago!  I will await 1.1.3

[2020-01-08 17:35] vincentsarago commented on #115
Well in fact I'm going to push a quick fix including changes from #114 so we don't have to wait for rasterio :-)

[2020-01-08 17:49] vincentsarago commented on #112
@pierotofy I'me going to close this issue here because it's not a rio-cogeo one but a rasterio/gdal one.

[2020-01-08 17:49] #112 closed

[2020-01-08 17:52] #113 closed

[2020-01-08 19:23] pierotofy commented on #112
Sounds good, thanks for looking into it. :+1:

[2020-01-10 22:12] rbavery commented on #116
Sort of and thanks for checking in. If I setup conda environment, then install my package from source in development mode, and finally install another package in development mode I encountered the error above. But if I install the other package before my own I don't get this error. Not sure why this works but I'll take it, closing.

[2020-01-10 22:12] #116 closed

[2020-02-06 18:12] vincentsarago opened #118 "missing scale/offset values in the output files"
in
https://github.com/cogeotiff/rio-cogeo/blob/5c8ba0154ab0ce2c6621f8623cc374c9056bfc9a/rio_cogeo/cogeo.py#L238-L244

when we create the temporary file we are loosing the `scale` and `offset` values.

### To Do
- [x] forward scales and offsets
- [x] check if other values need to get forwarded

[2020-02-06 19:50] #118 closed

[2020-02-08 11:03] andrewharvey opened #120 "JPEG with mask?"
I used `rio cogeo create --cog-profile jpeg --add-mask` on a 4 band GeoTIFF input (RGB + alpha) and it failed with

[code]

Is that intended? I'd prefer to use JPEG encoding for smaller files sizes of aerial imagery, but ideally still have a mask so you don't have a black background around the imagery, is that possible?

[2020-02-08 14:54] vincentsarago commented on #120
@andrewharvey thanks for the issue

rio-cogeo is able to convert an alpha band to a mask but is not smart enough to remove the band from the input file

do
[code]
this is mentioned is https://github.com/cogeotiff/rio-cogeo#nodata-alpha-and-mask but I'll re-think to see if we can do something else

[2020-02-08 14:54] #120 closed

[2020-02-21 04:37] vincentsarago opened #121 "forward colormap and `ColorInterp.palette` for 1band dataset"

[2020-02-21 17:13] #121 closed

[2020-03-05 01:25] matthewhanson opened #123 "Tile boundary artifacts when using web_optimized"
Seen using rio_cogeo 1.1.8

When using the web_optimized=True there is a visible tile boundary seen, especially at higher zoom levels.

Here is web_optimized=True
![image](https://user-images.githubusercontent.com/1416900/75938483-e4147b00-5e55-11ea-84f1-016798d43d1d.png)

Here is web_optimized=False
![image](https://user-images.githubusercontent.com/1416900/75938538-01e1e000-5e56-11ea-94b3-11c165

[2020-04-01 12:44] andrewharvey opened #124 "--web-optimized option creates image with incorrect bounds"
not sure if this is related to #123 but when using the `--web-optimized` option the output has a larger bounding box than the input.

`tile.tiff` [tile.tiff.zip](https://github.com/cogeotiff/rio-cogeo/files/4415138/tile.tiff.zip)

[code]

![2](https://user-images.githubusercontent.com/117278/78138113-22f81980-7472-11ea-8e7b-96a464735e47.png)

[code]
![1](https://user-images.githubusercontent.com/1

[2020-04-01 12:48] andrewharvey commented on #124
although I guess with cogeo support coming in gdal 3.1 I might end up swapping to gdal, but just annoying that it hasn't been released yet.

[2020-04-01 13:11] andrewharvey commented on #124
Just tested with gdal latest docker using the COG driver and I don't see the issue even using `-co TILING_SCHEME=GoogleMapsCompatible`, so I might use gdal instead.

[2020-04-01 14:01] vincentsarago commented on #124
@andrewharvey thanke for the issue I'll check later today.

Yeah GDAL3.1 and the new COG driver might be a better solution and it should be released next month.

[2020-05-05 04:25] vincentsarago opened #125 "set case_insensitive=True on the click.option"
[code]

cc @kylebarron

[2020-05-06 21:17] vincentsarago commented on #124
Hey @andrewharvey sorry it took me more than a month 😬

rio-cogeo seems to work as expected because your file cut the z13 tiles on the top left

`$ rio bounds tile.tiff| supermercado burn 13 | mercantile shapes > z13.geojson`
![](https://user-images.githubusercontent.com/10407788/81228959-0b560880-8fbd-11ea-8e4f-041c39abbf6d.png)

This might just be a precision issue because it seems your file is

[2020-05-06 21:33] vincentsarago opened #127 "Dropping Python 2 support for rio-cogeo version 2.0.0"
We haven't had any feedback when we did https://github.com/cogeotiff/rio-tiler/issues/139 so I guess (🤞) it will be the same here.

[2020-05-07 05:01] vincentsarago commented on #123
👋 @matthewhanson using https://github.com/cogeotiff/rio-cogeo/tree/v2 I could not reproduce the artefact. I'm seeing some resampling artefacts but not at tile intersection. Could you share the exact file you are using and the command line you used ?

[2020-05-07 17:22] vincentsarago opened #133 "Version 2 pre-release / release master ticket"
Because of #127, #132 and #126 we have to cut a new **major** release.

https://github.com/cogeotiff/rio-cogeo/blob/25f9a72f0d18b68170863d14c8690b8a550648e2/CHANGES.txt#L1-L7

changes are now in https://github.com/cogeotiff/rio-cogeo/tree/v2

[2020-05-07 17:27] vincentsarago commented on #133
## 2.0a1 - 2020/05/07

https://pypi.org/project/rio-cogeo/2.0a1/

[2020-05-08 18:56] vincentsarago opened #134 "add `rio cogeo info`"
I really like https://github.com/blacha/cogeotiff#cogeotiff-info cli by @blacha 👏

[2020-05-19 02:46] vincentsarago commented on #123
@matthewhanson ping 😄

[2020-05-19 02:46] vincentsarago commented on #124
@andrewharvey 👋 ☝️

[2020-05-19 08:24] andrewharvey commented on #124
hi @vincentsarago

Thanks for looking into this, you're right when I zoom right in I can see the precision issue and I now understand why it's needing to fill in these other tiles when using web-optimized.

[2020-05-19 08:24] #124 closed

[2020-05-20 15:35] vincentsarago commented on #133
FYI: I'm going to merge the `V2` branch to master

[2020-05-20 15:36] #127 closed

[2020-05-20 15:36] #125 closed

[2020-05-22 02:08] kylebarron commented on #116
For the record, this is most likely due to a missing `pkg_resources`, which is part of `setuptools`. `pip` and `setuptools` I believe have circular dependencies on each other, and for some reason `setuptools` sometimes isn't installed.

[2020-06-15 14:05] vincentsarago opened #137 "Use lossless compression by default for temporary file"
In https://github.com/cogeotiff/rio-cogeo/blob/116c8f0d58635bdd6c626f2fc35fe6b058e81c05/rio_cogeo/cogeo.py#L223-L225 we allow/disallow the temporary file to be compressed. While this is a nice feature to either reduce time (disallow) or memory/disk footprint (allow) when using lossy compression (JPEG/WEBP) this could lead to unwanted artifacts.

Note: this is inspired by GDAL 3.1 COG driver that u

[2020-06-15 14:07] #134 closed

[2020-06-15 14:20] #137 closed

[2020-06-15 14:48] vincentsarago commented on #133
### 2.0a3 - 2020/06/15

https://github.com/cogeotiff/rio-cogeo/blob/5645799c9fbb1c147a6b74efeea5aef1fa332615/CHANGES.txt#L1-L4

[2020-06-15 18:58] vincentsarago opened #140 "force output width/height"
ref: https://github.com/mapbox/rasterio/issues/1951

When not doing reprojection we can still force output size by doing

`vrt_params = dict(add_alpha=True, dtype=dtype, width=src_dst.width, height=src_dst.height)` here https://github.com/cogeotiff/rio-cogeo/blob/3695096162d71cd3b3bddb9221be0e8e44001b33/rio_cogeo/cogeo.py#L162

cc @kylebarron

[2020-06-15 19:48] #140 closed

[2020-06-15 19:51] vincentsarago commented on #133
### 2.0a4 - 2020/06/15

https://github.com/cogeotiff/rio-cogeo/blob/e4e4fdda7cf8dbac9ece4ca39e7809eee8d32ad7/CHANGES.txt#L1-L3

[2020-06-19 14:37] vincentsarago opened #142 "cog_validate should return warnings and errors"
In order to use `cog_validate` in other APIs I think it will be good to make it return the info instead of printing them 👇

https://github.com/cogeotiff/rio-cogeo/blob/6fda1dc1904ea9317c776e709677af2cb2a698f6/rio_cogeo/cogeo.py#L438-L452

[2020-07-31 03:04] #123 closed

[2020-07-31 03:06] vincentsarago opened #145 "add colorinterp in cogeo info return"

[2020-07-31 03:08] vincentsarago opened #146 "add Image metadata in cogeo info output"

[2020-07-31 03:08] vincentsarago opened #147 "add scale and offset in cogeo info output"

[2020-07-31 21:40] #142 closed

[2020-08-01 01:35] #145 closed

[2020-08-01 01:47] vincentsarago commented on #147
done in #149

[2020-08-01 01:47] #147 closed

[2020-08-01 01:47] vincentsarago commented on #146
done in #149

[2020-08-01 01:47] #146 closed

[2020-08-01 01:51] vincentsarago commented on #133
## 2.0a5 - 2020/07/31

https://github.com/cogeotiff/rio-cogeo/blob/db8dabce08701c99c2f2cf51dc760e3e8dec1f9c/CHANGES.txt#L1-L6

[2020-08-03 18:41] vincentsarago opened #150 "Duplicate Count!"
https://github.com/cogeotiff/rio-cogeo/blob/db8dabce08701c99c2f2cf51dc760e3e8dec1f9c/rio_cogeo/cogeo.py#L491-L494

[2020-08-03 19:14] ungarj opened #151 "invalid COG from GDAL 3.1.0 onwards"
Not sure whether this is the right place to report this but it seems relevant as it can be reproduced using `rio cogeo create` and `rio cogeo validate`.

Use the files in [validate.zip](https://github.com/cogeotiff/rio-cogeo/files/5017939/validate.zip) to reproduce:

`rio cogeo create temp.tif cog.tif && rio cogeo validate cog.tif` with GDAL 3.0.4 creates a COG and validation outputs this:

[code]

[2020-08-03 19:46] vincentsarago commented on #151
👋 @ungarj
I'm getting the same results when using GDAL command

[code]

The validation script seems ok, so I don't really get why it's different.

Sadly I believe this is a GDAL problem!

[2020-08-03 19:48] vincentsarago commented on #151
Wait 👀 https://github.com/OSGeo/gdal/blob/master/gdal/swig/python/samples/validate_cloud_optimized_geotiff.py#L183-L213

This might just mean that you can't use the validation script with COG created with gdal3.1 😭

[2020-08-03 21:00] vincentsarago commented on #151
@ungarj, as pointed by @geospatial-jeff on a private slack, this is because of the Ghost Area https://gdal.org/drivers/raster/cog.html#header-ghost-area

Looking at GDAL docs, I wasn't aware that ghost area would be present for GeoTIFF that were created without the new COG driver... this is either a GDAL/Libtiff bug or something expected but that should also be documented in the https://gdal.org/d

[2020-08-03 21:22] rouault commented on #151
The COG driver is mostly a wrapper over the GTiff one. So if using the COPY_SRC_OVERVIEWS=YES creation option, the ghost area will be created.
I'm not sure what "rio cogeo validate" runs, but it should be updated with the logic of latest validate_cloud_optimized_geotiff.py

[2020-08-03 21:26] vincentsarago commented on #151
Thanks @rouault this is really helpful!

rio cogeo validate is not updated with the latest change you added to the gdal script because sadly we (I mean in rasterio) don't have access to the bytes directly so we can't do https://github.com/OSGeo/gdal/blob/master/gdal/swig/python/samples/validate_cloud_optimized_geotiff.py#L196-L208 😭

I'll see if I can PR rasterio to add such method.

[2020-08-03 21:29] rouault commented on #151
you can probably relax the test on the location of the first IFD to be within the first 200 bytes or so

[2020-08-04 07:22] ungarj commented on #151
Hi and thanks @vincentsarago and @rouault for the quick responses!

[2020-08-04 15:35] vincentsarago commented on #151
Proposed a new Reader for Rasterio, so we can access the bytes directly

https://rasterio.groups.io/g/dev/topic/add_reader_for_direct_file/75989193?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,75989193

[2020-08-05 14:32] sgillies commented on #151
When I look at https://github.com/OSGeo/gdal/blob/master/gdal/swig/python/samples/validate_cloud_optimized_geotiff.py#L196-L208 I see a problem that should be fixed in GDAL. That Python script is using GDAL's VSI API to work around a defect in the GDAL metadata API, no?

[2020-08-05 14:38] rouault commented on #151
well, this is really low level information, that is of little use except for the validation script, hence I didn't feel like adding it into metadata.

[2020-08-05 14:54] vincentsarago commented on #151
I would tend to agree with @sgillies that it will be nice to have this feature (accessing the hidden metadata) directly in GDAL. Not sure what's the easiest way forward.

Would be nice to just be able to do `GetMetadataItem("GDAL_GHOST_AREA_METADATA")` 🤷

[2020-08-05 18:35] rouault commented on #151
See https://github.com/OSGeo/gdal/pull/2832

[2020-08-19 00:34] vincentsarago commented on #133
# 2.0a6 - 2020/08/18

https://github.com/cogeotiff/rio-cogeo/blob/b9b57301c2b7a4be560c887176c282e68ca63c27/CHANGES.txt#L1-L7

[2020-09-23 12:44] vincentsarago opened #153 "rasterio[s3] -> rasterio, boto3"
https://github.com/cogeotiff/rio-cogeo/blob/b9b57301c2b7a4be560c887176c282e68ca63c27/setup.py#L13

[2020-09-23 14:33] #69 closed

[2020-09-23 20:10] #150 closed

[2020-09-23 20:10] #151 closed

[2020-09-23 20:10] #153 closed

[2020-09-23 20:21] vincentsarago commented on #133
### 2.0a7 - 2020/09/23

https://github.com/cogeotiff/rio-cogeo/blob/05be391f2cd67c19b8bf229112097616b8666221/CHANGES.txt#L1-L5

I think we are ok for an official release, Target date: **2020/09/28**

[2020-09-23 21:10] kylebarron commented on #133
Official beta or 2.0?

[2020-09-24 00:14] vincentsarago commented on #133
@kylebarron I think we are fine to do an offical 2.0 directly. The only reason for the major version is the drop of python 2

[2020-09-28 12:20] vincentsarago opened #156 "`has_mask_band` returns true for file with an alpha band"
[code]

cc @geospatial-jeff

[2020-09-28 17:16] #156 closed

[2020-09-28 17:18] vincentsarago commented on #133
### 2.0a8 - 2020/09/28
https://github.com/cogeotiff/rio-cogeo/releases/tag/2.0a8

Fixes #156

Official release of 2.0 is postponed to next week

[2020-10-02 14:16] vincentsarago opened #158 "COG Ghost Header can be bigger than 200bytes"
https://github.com/cogeotiff/rio-cogeo/blob/c032e667b8a8f9ea7a61090ffce0136c2371787b/rio_cogeo/cogeo.py#L365

e.g a COG created with gdal master
[code]

☝️ is 226bytes

[2020-10-03 13:48] #81 closed

[2020-10-05 14:14] #158 closed

[2020-10-05 14:19] kylebarron commented on #158
Fixed with https://github.com/cogeotiff/rio-cogeo/commit/0a04693e74e2fdf4fdb3c84c40a8f46c180fb2a7

[2020-10-05 19:51] vincentsarago commented on #102
I'm going to postpone this change after 2.0.0 because just adding `band` might not be enough (datatype might have a bigger impact)

[2020-10-06 00:12] vincentsarago commented on #133
## 2.0.0 - 2020/10/05

https://pypi.org/project/rio-cogeo/2.0.0/

🎉 thanks everyone!

[2020-10-06 00:12] #133 closed

[2020-12-03 14:30] rsignell-usgs opened #159 "Would code or command line be recommended for this conversion workflow?"
@vincentsarago, there are a bunch of non-COG TIFF images that I'd like to convert to COG and push to S3:
https://coast.noaa.gov/htdata/raster2/elevation/Chesapeake_Coned_update_DEM_2016_8656/urllist8656.txt

Each of these TIFF images are about 4GB, 330GB total.

I was thinking of processing these on JupyterHub on AWS using a Dask gateaway cluster using the API, but not sure if that would be the be

[2020-12-03 14:34] vincentsarago commented on #159
@rsignell-usgs at devseed we created https://github.com/developmentseed/cogeo-watchbot-fargate to help to translate bunch of COGs and upload them on S3 (there is a lambda version of this stack but your file might be too big). The stack is quick old and will need some maintenance, but you can 👀

[2020-12-03 14:35] rsignell-usgs commented on #159
Thanks @vincentsarago , I'll give that a look!

[2020-12-03 14:36] #159 closed

[2020-12-18 19:42] vincentsarago opened #163 "define cogeo info model"
https://github.com/developmentseed/titiler/blob/master/titiler/models/cogeo.py

[2021-01-03 18:27] vincentsarago opened #164 "WebOptimized COG might be less efficient than non-web optimized COG!"
While I'm working on a tool to debug the number of GET requests over https://github.com/developmentseed/tilebench/pull/4 I'm getting really weird results. for web optimized COG we should always get `2` GET (header + data) but we are getting many more (6-10) GET requests.

note: I'm getting the same result with COG created with the COG driver.

### Why
- GDAL version ?
- rio-tiler coordinates round

[2021-01-04 11:00] vincentsarago opened #165 "Add TIFF metadata when creating a web optimized COG"
- Grid
- ovr_level alignement

[2021-01-20 09:44] robmarkcole opened #166 "Docs error"
On https://cogeotiff.github.io/rio-cogeo/API/ under `1.` there is:
[code]

Should read:
[code]

[2021-01-20 09:45] robmarkcole commented on #166
Also this needs to be float32:

[code]

[2021-01-20 17:03] #166 closed

[2021-01-20 17:04] kylebarron commented on #166
Thanks for reporting! 🙏

[2021-01-21 17:25] robmarkcole opened #168 "Docs error and suggestion"
On https://cogeotiff.github.io/rio-cogeo/API/ under `1.` you have:

[code]

But this should read:
[code]

i.e. `transform=src_transform,`

Also a suggested improvement is to show in `from_bounds` the height/width order
[code]

[2021-01-21 17:36] kylebarron commented on #168
Thanks. Would you be able to make a PR with the docs change?

[2021-01-22 09:23] robmarkcole commented on #168
Another error spotted:
[code]

should be
[code]

i.e. profile -> dst_profile

@kylebarron sure I will create a PR, doing some work with rio-cog so might find some more changes to include

[2021-01-22 13:50] vincentsarago commented on #168
👍

I'm not sure to understand, you mean trying to use Rasterio to write directly to S3? I never tried and as far as I remember it wasn't possible 🤷‍♂️

just re-tried, and I don't think it's possible (at least with goal 2.4)
[code]

[2021-01-24 06:51] kylebarron opened #169 "Add top-level exports"
I.e. currently nothing is exported from a top-level `import rio_cogeo` https://github.com/cogeotiff/rio-cogeo/blob/master/rio_cogeo/__init__.py

[2021-01-24 20:38] kylebarron opened #173 "`cog_translate` fails when `dst_path` is `pathlib.Path`"
The docstring says that `dst_path` can be a `Path` object, (even though the code itself only says `str`)
https://github.com/cogeotiff/rio-cogeo/blob/1cb53e8090ff7d9072e8e36811b7fd8459f6b8b0/rio_cogeo/cogeo.py#L70

But the `pathlib.Path` object doesn't have a `.startswith` method, so `cog_translate` crashes when a path object is passed
https://github.com/cogeotiff/rio-cogeo/blob/1cb53e8090ff7d9072e

[2021-01-24 21:43] vincentsarago commented on #173
yes let's do this

[2021-01-26 00:07] #169 closed

[2021-01-26 00:13] #173 closed

[2021-02-10 02:19] vincentsarago opened #178 "rio-cogeo is broken due to pathlib"
🤦

https://github.com/cogeotiff/rio-cogeo/blob/9c20e1f202fcc36aebe3fce2aca6893c849e6523/rio_cogeo/cogeo.py#L334-L335

[code]

which then gives
[code]

cc @kylebarron

[2021-02-10 05:54] #178 closed

[2021-02-19 04:58] vincentsarago opened #180 "add documentation about Compression and Tilesize"
This is one of the best blog: https://kokoalberti.com/articles/geotiff-compression-optimization-guide/

[2021-03-23 20:32] mplough-kobold opened #182 "Logic errors in GeoTIFF validation in rio_cogeo/cogeo.py"
Lines 456-461 of rio_cogeo/cogeo.py read:

[code]

If `BLOCK_OFFSET_0_0` is missing / `None`, the cast to `int` will raise an exception and the error string will not be appended.

Later, on line 472:
[code]
The value of `data_offsets[-1]` may be `None`.  If it is in fact `None`, a `TypeError` will be raised.

I don't currently understand the TIFF file format well enough to understand how to handle

[2021-03-23 20:36] vincentsarago commented on #182
@mplough-kobold would you be able to share a tiff where `BLOCK_OFFSET_0_0` is missing ?

FYI looking at https://github.com/OSGeo/gdal/blob/master/gdal/swig/python/samples/validate_cloud_optimized_geotiff.py#L72-L73 it seems that you are indeed right 😉

[2021-03-23 22:50] mplough-kobold commented on #182
Certainly!

The code at https://github.com/OSGeo/gdal/blob/master/autotest/gcore/cog.py#L761 will generate a TIFF file with a missing block offset.

I sliced and diced it a bit and ran this snippet in the `osgeo/gdal` Docker image; the resulting TIFF file is attached here -
[cog.tif.zip](https://github.com/cogeotiff/rio-cogeo/files/6193156/cog.tif.zip).

[code]

[2021-03-31 15:31] mplough-kobold commented on #182
🎉 🎉 Thanks @vincentsarago for taking care of this!

[2021-03-31 15:44] vincentsarago commented on #182
@mplough-kobold thanks for reporting it :-)

[2021-04-15 14:47] meteoDaniel opened #184 "Issue with cog GeoTIFF creation."
I want to create a cog GeoTIFF to use e.g. with titiler to provide tile maps.

I am having a 2D array, and use matplotlib+pillow to create a plot:
[code]
Now I am ready to  transform the img_binary back to a numpy array:

[code]
img_array has the shape: `(2, 2, 4)` to pass it correctly to the guide you have published [here](https://cogeotiff.github.io/rio-cogeo/API/) I have to transpose the matrix

[2021-04-15 14:57] vincentsarago commented on #184
@meteoDaniel

Rasterio uses array in form of `(count, height, width)`

[code]

I'll update the documentation for the height/width order. Please closes this ticket if it answer the question.

Also, as much as we love feedback and like to help the users. please understand that `issues` are use to report a bug or sometime to requests new features. For general question we encourage use to use the Disc

[2021-04-15 15:15] #184 closed

[2021-04-15 15:27] vincentsarago commented on #184
@meteoDaniel Excellent.

Yeah rasterio indexing can be quite confusing (it took me 4years to remember it correctly) :-)

[2021-04-16 15:42] rahulanand09 opened #187 "png tiles for GEOTIFF files with band containing values in Float64?"
We are facing a problem while trying to fetch tiles for the Sentinel-1 TIFF file
downloaded with Google Earth Engine (GEE) using rio-tiler.
**These Sentinel-1 files contain pixel data between range [+20, -20], and while using rio-tiler, we are an error that the GDAL’s png driver cannot work on Float64 TIFF files.**

_Is there a way that I can get png tiles for GEO TIFF files for band containing va

[2021-04-16 15:45] vincentsarago commented on #187
@rahulanand09 This is not a rio-cogeo bug!

Sentinel 1 are in Float64, PNG support only Byte data. You'll have to rescale the data from float64 to byte before being able to create a PNG.

[2021-04-16 15:45] #187 closed

[2021-04-16 15:55] rahulanand09 commented on #187
@vincentsarago - We are using GDAL scale to scale the data to byte. Is there a better way to it without losing much information.
I am trying to render other spectral indices on the browser as well. What would be the best way to achieve the same?

[2021-04-16 16:03] vincentsarago commented on #187
@rahulanand09 I'm not sure to understand,

can you share the data you are using?

This is pretty vague. please checkout https://developmentseed.org/titiler/dynamic_tiling/ and feel free to start discussion over TiTiler discussion

[2021-04-16 16:28] kylebarron commented on #187
I agree with @vincentsarago , this doesn't look like a bug. If you think otherwise, could you create a minimal reproducible example?

[2021-04-28 19:02] vincentsarago opened #188 "translate alpha band to mask when output compression is set to JPEG"
As GDAL COG driver

ref: https://gdal.org/drivers/raster/cog.html#raster-cog

[2021-04-30 13:56] vincentsarago opened #189 "add more info about the difference between rio-cogeo and the COG driver"
https://github.com/cogeotiff/rio-cogeo#cloud-optimized-geotiff

[2021-04-30 18:14] vincentsarago commented on #164
I think this is OK. rio-tiler was fixed to avoid rounding issues.

[2021-04-30 18:14] #164 closed

[2021-05-03 13:57] #163 closed

[2021-05-04 14:33] vincentsarago commented on #165
GDAL adds
[code]

I think it might be better to follow the same notation

[2021-05-18 00:55] vincentsarago commented on #165
closed by #195

[2021-05-18 00:55] #165 closed

[2021-05-19 00:10] #188 closed

[2021-05-19 12:06] thaisbendixen opened #197 "ModuleNotFoundError: No module named 'rio_tiler'"
Since this morning we are having issues with the rio-cogeo.

**When doing:**
from rio_cogeo import models

**We get the following error:**
ModuleNotFoundError: No module named 'rio_tiler'

**Steps to recreate:**
- Create a new virtual environment using pyenv and virtualenvwrapper, using python version 3.8.9
- Install rio-cogeo using pip install rio-cogeo
- Start python in terminal
- from rio_cogeo

[2021-05-19 12:28] vincentsarago commented on #197
😭 I'm so sorry I introduced this yesterday, I'll fix this first thing this morning. For now you can install rio-tiler.

[2021-05-19 13:43] #197 closed

[2021-05-19 13:47] vincentsarago commented on #197
Thanks for reporting this @thaisbendixen 🙏
FYI, rio-tiler is used in `tests` which is why we didn't caught this error in our CI.

A new version of rio-tiler 2.2.1 should be available in couple seconds!

[2021-05-28 21:51] drnextgis opened #199 "rio cogeo fails upon a 'gauss' resampling method"
[Here](https://github.com/mapbox/rasterio/blob/abb9f6c6b6018c82e219207d2b208ecf51e836c6/rasterio/enums.py#L79) it is saying that:

I assume this is the reason why `rio cogeo` fails on the attempt to use 'gauss' resampling method:

[code]

Also `rio cogeo` help shows 'gauss' as a legitimate option:

[code]

Same command works fine in `v2.1.4`:

[code]

[2021-05-29 09:01] drnextgis commented on #199
https://github.com/mapbox/rasterio/issues/2190

[2021-05-29 18:46] geospatial-jeff opened #200 "`info` pydantic models in 2.2.0 breaks dictionary access"
The `rio_cogeo.cogeo.info` function used to return a dictionary but as of 2.2.0 returns a pydantic model.  This causes a breaking change because before 2.2.0 the caller would access the output of `info` using dictionary indexing (`info["GEO"]["CRS"]`) but pydantic requires dot notation (`info.GEO.CRS`).

This was the solution in `rio-tiler` when it was migrated to pydantic models:
https://github.c

[2021-06-01 19:50] #200 closed

[2021-06-01 22:36] #199 closed

[2021-06-16 20:56] ghelobytes opened #203 "New version of click (8.x.x) may have been causing an issue with cog_translate"
To re-create, run test:
[code]

[code]

Locking down to `click==7.1.2` seems to work around the issue:

[code]
[code]

Maybe a simple fix for now is to modify `requirements.txt`:
https://github.com/cogeotiff/rio-cogeo/blob/b1c3692b5adaa456dbc565860e9fa26453c5ad10/requirements.txt#L1-L5

[2021-06-16 20:58] vincentsarago commented on #203
thanks @ghelobytes for the report, my co-worked just mentioned this to me and it all comes down to the latest rasterio update ref: https://github.com/mapbox/rasterio/pull/2191

I'll try to fix this tomorrow

[2021-06-17 11:55] vincentsarago commented on #203
@ghelobytes I'm not able to reproduce the issue.
can you share the click and rasterio version that you have?

[2021-06-17 13:37] ghelobytes commented on #203
@vincentsarago
[code]

[2021-06-17 14:31] ghelobytes commented on #203
From the latest `click` [doc](https://click.palletsprojects.com/en/8.0.x/api/?highlight=progressbar#click.progressbar), it looks like it's now expecting a stream (`TextIO`):
[code]
This seems to work when I change the line below to this: `fout = open(os.devnull, 'w') if quiet else sys.stderr` but not sure if that's the appropriate thing to do.
https://github.com/cogeotiff/rio-cogeo/blob/b1c3692b5a

[2021-06-17 14:32] vincentsarago commented on #203
yep, I was going to push this fix! I'll cc you in the PR and wait for your 👍

[2021-06-18 07:43] #203 closed

[2021-07-05 09:03] ashnair1 opened #208 "cli bug: TypeError: __init__() got an unexpected keyword argument 'case_sensitive'"
When I run ``rio cogeo --help``, I get the following error:

[code]

I'm using the latest version: 2.3.0

[2021-07-05 09:07] vincentsarago commented on #208
🤔, Click documentation still show `case_sensitive` as a valid option 🤷

can you check which version for `click` you are using please?

[2021-07-05 09:26] ashnair1 commented on #208
I'm using click 6.7. I'll try updating it and get back to you.

[2021-07-05 09:29] ashnair1 commented on #208
That was indeed the cause. After updating it works as expected. Thanks

[2021-07-05 09:29] #208 closed

[2021-07-05 16:32] kylebarron commented on #208
Should we restrict `click>=7.0`? It's currently unrestricted

https://github.com/cogeotiff/rio-cogeo/blob/61a7e526fbdd54972236c0cf502f0c00df85a27f/setup.py#L10

[2021-07-06 15:08] vincentsarago commented on #208
@ashnair1 @kylebarron I've pushed a new release to make sure we ask for click >=7.

Thanks for opening the issue @ashnair1 🙏

[2021-07-11 11:58] ashnair1 opened #210 "Reproject option"
Didn't rio-cogeo have a reproject option? Is it still possible to do this? I'm aware the `--web-optimized` flag allows creation of cog tiffs with the 3857 projection. But I'd like to convert to `EPSG:4326`.

[2021-07-12 06:31] vincentsarago commented on #210
@ashnair1 there is not retroject option. We could maybe add one but the code is already quite complex. If you are using rio-cogeo api directly you could easily do something like

[code]

[2021-07-12 12:30] ashnair1 commented on #210
Ah ok thanks.

[2021-07-12 12:31] #210 closed

[2021-07-12 14:11] robmarkcole commented on #168
@vincentsarago the following approach is valid
[code]

[2021-07-12 14:13] vincentsarago commented on #168
@robmarkcole it's already documented in https://cogeotiff.github.io/rio-cogeo/API/#using-the-api-with-in-memoryfile

[2021-07-12 14:15] robmarkcole commented on #168
aha so it is :-)

[2021-07-16 13:23] drnextgis opened #211 "A certain combination of parameters leads to unexpected results"
I would expect to get the same set of `mask_flags` for **Case 4** as for the rest of the cases. Am I missing something or it is a bug?

[code]

:green_circle:  **Case 1**

`--add-mask`
[code]

:green_circle: **Case 2**

`--add-mask --web-optimized`
[code]

:green_circle:  **Case 3**

`--add-mask --use-cog-driver`
[code]

:red_circle:  **Case 4**

`--add-mask --use-cog-driver --web-optimized`

[cod

[2021-07-16 13:32] vincentsarago commented on #211
Thanks for the report @drnextgis
That's an interesting issue. Going thought the code I can't find anything suspicious. Can you try doing the same with GDAL commands (use `gdalwarp -of VRT -dstalpha in.tif out.vrt` + `gdal_translate -of COG -mask 4 out.vrt out.tif`, or something like this)

[2021-07-16 13:43] drnextgis commented on #211
[code]

[2021-07-16 13:46] vincentsarago commented on #211
can you print the compression used for all the COG ?

[2021-07-16 13:49] drnextgis commented on #211
[code]

[2021-07-16 13:53] vincentsarago commented on #211
@drnextgis is your file in `byte` ?

[2021-07-16 13:57] drnextgis commented on #211
[code]

[2021-07-16 14:02] drnextgis commented on #211
@vincentsarago you can reproduce it with publicly available dataset:

[code]

[2021-07-16 14:42] vincentsarago commented on #211
🙏 @drnextgis

So this is a GDAL `bug`

[code]

The problem is that GDAL will use an Alpha band when retrojecting the data to WebMercator

See https://gdal.org/drivers/raster/cog.html#reprojection-related-creation-options

So by default, our mask band will be translated to an Alpha Band.

The only way you can keep the `mask` is to use the JPEG compression (which anyway works better with internal ma

[2021-07-16 16:19] drnextgis commented on #211
Thank you @vincentsarago for sorting this out!

[2021-08-10 13:36] JoakimJoensuu opened #213 "Conda build dependency conflict with rio-cogeo >=2.3.0 and fiona >=1.8.19"
I am trying to build conda package with rio-cogeo >=2.3.0 and fiona >=1.8.19 dependencies.

However that seems to be impossible due to conflicts between those two. I was motivated to write this issue because fiona is used to read and write geographical data files and these two will definitely be used together in some projects.

Leaving version requirement out from one of those will install either

[2021-08-10 13:43] vincentsarago commented on #213
@JoakimJoensuu I'm sorry for the trouble. We do not manage the rio-cogeo conda package, and as far as I know I never had any trouble having both fiona and rio-cogeo installed on my python env.

I think you should report this issue on the conda repo 🤷‍♂️

[2021-08-10 13:57] JoakimJoensuu commented on #213
@vincentsarago

I'll report the issue there.

Thanks anyway! 🙌🏻

[2021-08-10 13:57] #213 closed

[2021-09-09 15:45] #211 closed

[2021-09-21 17:09] ocefpaf commented on #213
@JoakimJoensuu and others finding this issue. Conda is an agnostic package manager, so your gdal is also manage by it instead of a static bundled with `rasterio`. So you will get the version that is compatible with rasterio metadata. You won't see that conflict with wheels b/c each one, fiona and rasterio, will bring their own gdal and also b/c pip did not had a version solver up to recently.

TL;

[2021-10-26 20:33] vincentsarago opened #217 "Surface bands metadata (tags) in rio cogeo info"
https://github.com/cogeotiff/rio-tiler/blob/master/rio_tiler/io/cogeo.py#L214-L216

[2021-10-27 12:03] gszpak opened #218 "Can't install rio-cogeo using poetry"
I'm using `poetry` as dependency manager for my project. When running:
[code]
I'm getting following error:
[code]

It seems that `rio-cogeo` uses a nonexisting branch in [setup.py](https://github.com/cogeotiff/rio-cogeo/blob/9fff80abc3acba6b84b994b612a11baeec54e271/setup.py#L21). Poetry doesn't allow to skip / override extra dependencies when resolving dependency tree, which makes the package impo

[2021-10-27 12:15] #218 closed, assigned to nobody

[2021-11-04 17:24] dgonzo27 commented on #24
@francbartoli thank you, this was super helpful.  I have an additional question I was hoping you could address regarding the creation of jpeg thumbnails.

assume I have an un-optimized tif in cloud storage (S3 bucket, az blob storage, etc.).  I am able to read the tif - **in memory** - create a cog and upload to my desired cloud storage thanks to your help.  But what if I need to also create a jpe

[2021-12-01 13:40] chrisg-ngis opened #220 "FeatureRequest: cog_translate destination as cloud storage"
Hello,

I am using cog_translate() in a server that processes images and uplaods them but I need to store the file locally before I can upload it.

It would be nice if I could specify the cloud destination directly. E.g. if dest param accepted a file like "gs://bucket..." or if it worked with gcsfs, or fiona's vsigs.

[2021-12-01 13:51] vincentsarago commented on #220
@chrisg-ngis This is a GDAL/Rasterio limitation. I don't think GDAL can write GeoTIFF directly to the cloud.

links:
- https://github.com/rasterio/rasterio/issues/2148#issuecomment-819115992
- https://gdal.org/user/virtual_file_systems.html#network-based-file-systems

also you can use `Memory` File to avoid creating temporary file.

[code]

[2021-12-01 13:51] #220 closed

[2021-12-02 12:12] chrisg-ngis commented on #220
Thanks for the clarification.

I want to open a GeoTIFF, manipulate it with Rasterio, then upload it to GCS or AWS S3 as a COG.
So I need to first convert rasterio dataframe to a GeoTIFF in-memory file, then translate that to COG in another local disk file, and then I can upload that using a cloud provided library. Ok.

[2021-12-02 15:52] dgonzo27 commented on #24
Here is the code snippet for converting a tiff to a jpg thumbnail:

[code]

[2021-12-16 08:26] vincentsarago opened #221 "remove call to rasterio._path module"
https://github.com/rasterio/rasterio/issues/2365

[2021-12-16 16:52] #221 closed

[2021-12-16 21:20] #217 closed

[2022-01-05 20:59] drnextgis opened #224 "Creating COG out of big rasters"
I'm trying to create a COG out of a very big rasters (e.g. 73012 x 364544) and I spotted the following pattern: the progress bar is very fast at the beginning of the process but but it gets slower and slower as it gets closer to the end. For example the first 20% have been completed in few minutes but then:
[code]

[2022-01-05 21:07] vincentsarago commented on #224
@drnextgis
- what happens if you create the COG using `gdal_translate`?
- can you check the memory consumption?
- are you using `--allow-intermediate-compression`

[2022-01-05 21:10] drnextgis commented on #224
* memory consumption is quite low (2G out of 15G) but CPU is under 100% load
* `--allow-intermediate-compression` is not being used

I'm going to check how it goes with `gdal_translate`.

[2022-01-05 21:32] vincentsarago commented on #224
@drnextgis try with `--allow-intermediate-compression`. The problem is that you are creating a really big temporary file. using intermediate compression might do the trick (by default it will use deflate but this is configurable when using the API)

[2022-01-07 00:59] drnextgis commented on #224
**gdal-translate**: 30 minutes
[code]
**rio-cogeo** (even with `allow_intermediate_compression` enabled) :  8 hours
[code]

[2022-01-07 07:30] drnextgis commented on #224
Apparently `add_mask=True` is a culprit. With `add_mask=False` it takes same amount of time as for `gdal_translate`.

[2022-01-07 08:04] vincentsarago commented on #224
thanks for the comparison @drnextgis

can you tell which step took most of the time?

[2022-01-07 16:32] drnextgis commented on #224
[Writing](https://github.com/cogeotiff/rio-cogeo/blob/a07d914e2d898878417638bbc089179f01eb5b28/rio_cogeo/cogeo.py#L296) mask slows down the whole process.

[2022-01-07 20:32] drnextgis commented on #224
I don't know the root cause of the issue but I've found a workaround.

In my case `blockxsize` / `blockysize` values of the source raster are `512px`. When I set `blockxsize=512` and `blockxsize=512` for the output raster then everything works fine (`1024px` is also ok). But if change it to `256px` then performance becomes very poor. Closing for now.

[2022-01-07 20:32] #224 closed

[2022-02-22 16:24] giswqs opened #227 "mercantile.bounds for cog"
I am trying to create a function for creating COG from numpy array. Note the image does not necessarily cover the entire globe. How can we specify `mercantile.bounds` based on the image extent (southwest, northeast)?

https://cogeotiff.github.io/rio-cogeo/API/#using-the-api-with-in-memoryfile

[code]
Here is a sample [cog](https://github.com/giswqs/leafmap/blob/master/examples/data/cog.tif) with 2

[2022-02-22 16:33] vincentsarago commented on #227
👋 @giswqs

`bounds` is defined as `(minx, miny, maxx, maxy)` https://github.com/developmentseed/morecantile/blob/master/morecantile/commons.py#L6-L24

so from what you shared it will be `(6.86, 53.39, 6.89, 53.416)`

[2022-02-22 16:57] giswqs commented on #227
It works. Many thanks!

[2022-02-22 16:57] #227 closed

[2022-02-22 17:22] Fahdben opened #228 "Installation error on ubuntu 20.04 docker image"
Hi @vincentsarago,

I'm having an issue when installing rio-cogeo with an ubuntu 20.04 docker image, maybe you can help!
In a container (based on ubuntu 20.04) I install python3 (3.8.10), upgrade pip (22.0.3) and run `pip install rio-cogeo` and I get the following error:
[code]
When I try to install the previous version `3.0.3` the install is successful.

Maybe I'm missing something,
Thanks!

[2022-02-22 17:24] vincentsarago commented on #228
this is the same as https://github.com/developmentseed/morecantile/issues/83 which is really strange because setuptool should not make any import on version check.

[2022-02-22 17:40] Fahdben commented on #228
Thanks @vincentsarago! the `setuptools` upgrade solved the issue for me

[2022-02-22 17:40] #228 closed

[2022-03-16 09:43] fvgls opened #229 "Installing rio_cogeo 3.1.0 on virtualenv for a Python package"
Hi,
When installing rio_cogeo (last version, aka 3.1.0) in a virtualenv as a `install_requires` by the use of a setup.py file for a Python package, some dependencies module are not found and block the installation, such as Click or morecantile.

### Minimal example for reproduction is :
**Versions:**
- Python 3.8.10 et 3.9.5
- virtualenv  20.0.17

**Setup.py:**
[code]

**Steps:** (from folder cont

[2022-03-16 10:33] vincentsarago commented on #229
same as https://github.com/cogeotiff/rio-cogeo/issues/228#issuecomment-1048033565

please update setuptools

[2022-03-16 10:33] #229 closed

[2022-03-21 12:15] gadomski opened #230 "Displaying continuous data with multiple transparency values?"
Tl:dr; Is there a way to define a continuous colormap while still mapping multiple values to transparency?

We're using rio-cogeo (via titiler) to display COG-ified MODIS products. Some MODIS products, e.g. [MOD17A3HGF](https://lpdaac.usgs.gov/documents/972/MOD17_User_Guide_V61.pdf), have continuous data that we'd like to display with a continuous colormap. However, these products also have multip

[2022-03-31 07:53] vincentsarago opened #235 "add `ZOOM_LEVEL` creation option for web optimized COG"
ref https://github.com/OSGeo/gdal/pull/5553

[2022-03-31 17:48] apooravsabudh opened #236 "installation give error"
![image](https://user-images.githubusercontent.com/96167205/161118098-d9c7800e-182a-4146-9319-b873e1a93151.png)
![image](https://user-images.githubusercontent.com/96167205/161118465-bf35cc6c-07ea-4646-a0f0-47c331950fc1.png)

[2022-03-31 17:54] #236 closed

[2022-04-05 09:35] #235 closed

[2022-08-11 01:15] rowanwins opened #240 "Creating aCOG in place rather than generating a new file?"
Thanks for making and sharing `rio-cogeo` - it is so good!

How feasible would it be possible to convert an existing file into a COG in place, rather than generating a new output file? Would it be possible if an existing GeoTIFF met a minimum set of requirements?

Cheers
Rowan

[2022-09-05 12:59] vincentsarago opened #241 "add option to forward namespaced metadata"
[code]

[2022-09-05 13:02] vincentsarago commented on #240
@rowanwins 🙏 👋

My understanding is that is not possible because each time we have to perform a full read/write of the file.

Because we put the new COG in memory or in a tmp file before writing you should still be able to use the output file to be  your input file, but I don't think that's what you were looking for

[2022-09-05 15:10] vincentsarago opened #244 "add python 3.10 support"

[2022-09-05 15:12] #241 closed

[2022-09-12 04:32] im28 opened #246 "All Console output is standard error"
Good day,
Thank you for this great tool,
I'm calling `rio cogeo` from another application, I would like to know why any output of the program is flagged as a standard error.
for example
https://github.com/cogeotiff/rio-cogeo/blob/45b462e9503d29fe077b27a35d4b0e517c9fa76b/rio_cogeo/cogeo.py#L294

[2022-09-12 08:06] vincentsarago commented on #246
👋 Hi @im28, thanks for opening the issue.

I guess that's just a bad habit I had to avoid considering output from the CLI as proper output. I'm fine removing this and will be happy to review any PR 🙏

[2022-09-12 12:15] kylebarron commented on #246
As another opinion, I agree with [this article](https://julienharbulot.com/python-cli-streams.html) that all informational updates, like in this context, should go to `stderr`, not `stdout`.

The main usefulness of printing informative updates to `stderr` is that piping to other CLI programs works better because only the actual data is on `stdout`.

[2022-09-13 03:28] im28 commented on #246
Thank you @kylebarron for sharing the article ❤. I guess then `rio cogeo create` has no standard output due to the output being a file, that's understandable.
Unfortunately, this means there is no way to obtain progress information whilst maintaining separation between actual errors and other information.

Would it be possible to add an optional callback parameter to `cog_translate` API? The callb

[2022-09-13 07:08] kylebarron commented on #246
I'm not sure I understand your use case still. What kind of program are you calling `rio cogeo` from? Non-python through the CLI? If it's via a shell process the main way you'd usually find if it errored is through a non-zero exit code, not by just checking whether text exists on stderr

[2022-09-13 08:58] #246 closed, assigned to nobody